nav(
  aria-label="Table navigation"
)
  ul.pagination
    li.page-item(
      :class="{ disabled: disabledButtonFirstPage }"
    )
      a.page-link(
        role="button"
        tabindex="0"
        aria-label="Previous"
        @click="updateOffsetFirst"
      )
        span(
          aria-hidden="true"
        ) «
    li.page-item(
      v-for="item in paginationItems"
      :key="item"
      :class="{ active: item === currentItem }"
    )
      a.page-link(
        role="button"
        tabindex="0"
        @click="updateOffset(item)"
      ) {{ item }}
    li.page-item(
      :class="{ disabled: disabledButtonLastPage }"
    )
      a.page-link(
        role="button"
        tabindex="0"
        aria-label="Next"
        @click="updateOffsetLast"
      )
        span(
          aria-hidden="true"
        ) »
