aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_BASIC_USAGE_"
  :props="['model-value', 'data', 'key-id', 'key-label', 'label', 'type']"
)
  .a_columns.a_columns_count_12
    .a_column.a_column_6.a_columns_count_12_touch
      a-select(
        v-model="model"
        :data="data"
        key-id="id"
        key-label="label"
        label="Aloha"
        type="select"
      )
      div model: {{ model }}
