aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_UI_GROUP_LABEL_DESCRIPTION_HEADER_"
  description="_A_UI_GROUP_LABEL_DESCRIPTION_DESCRIPTION_"
  :props="['label-description']"
)
  .a_columns.a_columns_count_12
    .a_column.a_column_6.a_columns_count_12_touch
      a-select(
        v-model="model"
        :data="data"
        :is-label-float="false"
        key-id="id"
        key-label="label"
        label="Select"
        label-description="Aloha"
        type="select"
      )
      div model: {{ model }}
