aloha-page(
  :page-title="pageTitle"
)
  template(
    v-slot:body
  )
    a-translation(
      tag="p"
      html="_PAGE_FILTER_BOOLEAN_DESCRIPTION_"
    )

    page-filter-import-function(
      function-name="filterBoolean"
    )

    page-filter-import-composition-api(
      function-name="filterBoolean"
    )

    page-filter-arguments(
      function-description="filterBoolean(value, { [trueValue=\"_YES_\"], [falseValue=\"_NO_\"], [useNil=true] })"
      :arguments-text="argumentsText"
    )

    page-filter-boolean-example

    page-filter-boolean-true-false-values

    page-filter-boolean-use-nil
