aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_SPINNER_GROUP_SIZE_HEADER_"
  description="_A_SPINNER_GROUP_SIZE_DESCRIPTION_"
  :props="['size']"
)
  a-spinner(
    size="1"
  )
  a-spinner(
    size="2"
  )
  a-spinner(
    size="3"
  )
  a-spinner(
    size="4"
  )
  a-spinner(
    size="5"
  )
  a-spinner(
    size="6"
  )
  a-spinner(
    size="7"
  )
