aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_DISCLOSURE_GROUP_DISABLED_HEADER_"
  description="_A_DISCLOSURE_GROUP_DISABLED_DESCRIPTION_"
  :exposes="['buttonRef', 'containerRef', 'isOpen', 'toggleButton']"
)
  .a_columns.a_columns_count_12
    .a_column.a_column_4.a_column_12_tablet
      div.a_btn_group
        a-button(
          class="a_btn a_btn_outline_primary"
          text="_A_DISCLOSURE_TEXT_TOGGLE_WITH_IS_OPEN_"
          @click="toggleShowWithIsOpen"
        )
        a-button(
          class="a_btn a_btn_outline_primary"
          text="_A_DISCLOSURE_TEXT_TOGGLE_WITH_TOGGLE_BUTTON_"
          @click="toggleShowWithToggleButton"
        )
      a-disclosure(
        ref="disclosureRef"
        :text-less="textLess"
        :text-more="textMore"
      )
