aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_ELEMENT_GROUP_GROUP_HORIZONTAL_VERTICAL_HEADER_"
  description="_A_ELEMENT_GROUP_GROUP_HORIZONTAL_VERTICAL_DESCRIPTION_"
  props="class"
)
  .a_btn_group_vertical(
    role="group"
  )
    .a_btn_group(
      role="group"
    )
      a-element(
        class="a_btn a_btn_outline_primary"
        text="outline-primary"
        type="button"
        @click="onAlert('outline-primary')"
      )
      a-element(
        class="a_btn a_btn_outline_secondary"
        text="outline-secondary"
        type="button"
        @click="onAlert('outline-secondary')"
      )
      a-element(
        class="a_btn a_btn_outline_success"
        text="outline-success"
        type="button"
        @click="onAlert('outline-success')"
      )
      a-element(
        class="a_btn a_btn_outline_info"
        text="outline-info"
        type="button"
        @click="onAlert('outline-info')"
      )
    .a_btn_group(
      role="group"
    )
      a-element(
        class="a_btn a_btn_outline_primary"
        text="outline-primary"
        type="button"
        @click="onAlert('outline-primary')"
      )
      a-element(
        class="a_btn a_btn_outline_secondary"
        text="outline-secondary"
        type="button"
        @click="onAlert('outline-secondary')"
      )
      a-element(
        class="a_btn a_btn_outline_success"
        text="outline-success"
        type="button"
        @click="onAlert('outline-success')"
      )
      a-element(
        class="a_btn a_btn_outline_info"
        text="outline-info"
        type="button"
        @click="onAlert('outline-info')"
      )
    .a_btn_group(
      role="group"
    )
      a-element(
        class="a_btn a_btn_outline_primary"
        text="outline-primary"
        type="button"
        @click="onAlert('outline-primary')"
      )
      a-element(
        class="a_btn a_btn_outline_secondary"
        text="outline-secondary"
        type="button"
        @click="onAlert('outline-secondary')"
      )
      a-element(
        class="a_btn a_btn_outline_success"
        text="outline-success"
        type="button"
        @click="onAlert('outline-success')"
      )
      a-element(
        class="a_btn a_btn_outline_info"
        text="outline-info"
        type="button"
        @click="onAlert('outline-info')"
      )
