aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_BUTTON_GROUP_TITLE_HTML_HEADER_"
  description="_A_BUTTON_GROUP_TITLE_HTML_DESCRIPTION_"
  :props="['is-title-html', 'title', 'title-placement', 'title-attributes']"
)
  .a_d_flex.a_flex_wrap.a_align_items_start.gap_1
    a-button(
      :is-title-html="true"
      class="a_btn a_btn_success"
      text="placement: top"
      title-placement="top"
      title="_A_BUTTON_EXAMPLE_BIG_TITLE_"
    )
    a-button(
      :is-title-html="true"
      class="a_btn a_btn_success"
      text="placement: auto"
      title-placement="auto"
      title="_A_BUTTON_EXAMPLE_BIG_TITLE_"
    )
    a-button(
      :is-title-html="true"
      class="a_btn a_btn_success"
      text="placement: auto-start"
      title-placement="auto-start"
      title="_A_BUTTON_EXAMPLE_BIG_TITLE_"
    )
    a-button(
      :is-title-html="true"
      class="a_btn a_btn_success"
      text="placement: auto-end"
      title-placement="auto-end"
      title="_A_BUTTON_EXAMPLE_BIG_TITLE_"
    )
    a-button(
      :is-title-html="true"
      class="a_btn a_btn_success"
      text="placement: top-start"
      title-placement="top-start"
      title="_A_BUTTON_EXAMPLE_BIG_TITLE_"
    )
    a-button(
      :is-title-html="true"
      class="a_btn a_btn_success"
      text="placement: top-end"
      title-placement="top-end"
      title="_A_BUTTON_EXAMPLE_BIG_TITLE_"
    )
    a-button(
      :is-title-html="true"
      class="a_btn a_btn_success"
      text="placement: right"
      title-placement="right"
      title="_A_BUTTON_EXAMPLE_BIG_TITLE_"
    )
    a-button(
      :is-title-html="true"
      class="a_btn a_btn_success"
      text="placement: right-start"
      title-placement="right-start"
      title="_A_BUTTON_EXAMPLE_BIG_TITLE_"
    )
    a-button(
      :is-title-html="true"
      class="a_btn a_btn_success"
      text="placement: right-end"
      title-placement="right-end"
      title="_A_BUTTON_EXAMPLE_BIG_TITLE_"
    )
    a-button(
      :is-title-html="true"
      class="a_btn a_btn_success"
      text="placement: bottom"
      title-placement="bottom"
      title="_A_BUTTON_EXAMPLE_BIG_TITLE_"
    )
    a-button(
      :is-title-html="true"
      class="a_btn a_btn_success"
      text="placement: bottom-start"
      title-placement="bottom-start"
      title="_A_BUTTON_EXAMPLE_BIG_TITLE_"
    )
    a-button(
      :is-title-html="true"
      class="a_btn a_btn_success"
      text="placement: bottom-end"
      title-placement="bottom-end"
      title="_A_BUTTON_EXAMPLE_BIG_TITLE_"
    )
    a-button(
      :is-title-html="true"
      class="a_btn a_btn_success"
      text="placement: left"
      title-placement="left"
      title="_A_BUTTON_EXAMPLE_BIG_TITLE_"
    )
    a-button(
      :is-title-html="true"
      class="a_btn a_btn_success"
      text="placement: left-start"
      title-placement="left-start"
      title="_A_BUTTON_EXAMPLE_BIG_TITLE_"
    )
    a-button(
      :is-title-html="true"
      class="a_btn a_btn_success"
      text="placement: left-end"
      title-placement="left-end"
      title="_A_BUTTON_EXAMPLE_BIG_TITLE_"
    )
    a-button(
      :is-title-html="true"
      :title-attributes="{ maxWidth: 150 }"
      class="a_btn a_btn_success"
      text="placement: auto, html-title max-width 150"
      title-placement="auto"
      title="_A_BUTTON_EXAMPLE_BIG_TITLE_"
    )
