aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_UI_GROUP_CLASS_COLUMN_HEADER_"
  description="_A_UI_GROUP_CLASS_COLUMN_DESCRIPTION_"
  :props="['class-column']"
)
  a-fieldset(
    v-model="model"
    :children="children"
    class-column="a_column a_column_6 a_column_12_touch"
    label="Fieldset"
  )
  div model: {{ model }}
