aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="Sizes"
  description="_A_RATE_DESCRIPTION_SIZE_"
  props="size"
)
  a-rate(
    size="small"
    text="small"
  )
  br
  a-rate(
    size="medium"
    text="medium"
  )
  br
  a-rate(
    size="big"
    text="big"
  )
