aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_PROGRESS_GROUP_MIN_MAX_HEADER_"
  description="_A_PROGRESS_GROUP_MIN_MAX_DESCRIPTION_"
  :props="['min', 'max']"
)
  a-progress(
    :value="-20"
    :min="-100"
    :max="0"
  )
  a-progress(
    class="a_mt_4"
    :min="50"
    :max="100"
    :value="75"
  )
  a-progress(
    class="a_mt_4"
    :min="0"
    :max="1000"
    :value="600"
  )
  a-progress(
    class="a_mt_4"
    :min="-200"
    :max="-100"
    :value="-130"
  )
