aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_SHOW_MORE_GROUP_BTN_ICONS_HEADER_"
  description="_A_SHOW_MORE_GROUP_BTN_ICONS_DESCRIPTION_"
  :props="['btn-icon-left-less', 'btn-icon-right-less', 'btn-icon-left-more', 'btn-icon-right-more']"
)
  .a_columns.a_columns_count_12
    .a_column.a_column_4.a_column_12_tablet
      a-show-more(
        :html="html"
        btn-icon-left-less="ChevronUp"
        btn-icon-right-less="ChevronUp"
        btn-icon-left-more="ChevronDown"
        btn-icon-right-more="ChevronDown"
      )
