aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_INPUT_CURRENCY_GROUP_DECIMAL_PART_LENGTH_HEADER_"
  description="_A_INPUT_CURRENCY_GROUP_DECIMAL_PART_LENGTH_DESCRIPTION_"
  :props="['decimal-part-length']"
)
  a-input-currency(
    v-model="model"
    :decimal-part-length="0"
    label="decimal-part-length 0"
  )
  a-input-currency(
    v-model="model"
    :decimal-part-length="1"
    class="a_mt_3"
    label="decimal-part-length 1"
  )
  a-input-currency(
    v-model="model"
    :decimal-part-length="2"
    class="a_mt_3"
    label="decimal-part-length 2"
  )
  a-input-currency(
    v-model="model"
    :decimal-part-length="4"
    class="a_mt_3"
    label="decimal-part-length 4"
  )
  div model: {{ model }}
