aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_MODAL_GROUP_SIZE_HEADER_"
  description="_A_MODAL_GROUP_SIZE_DESCRIPTION_"
  :props="['size']"
)
  .a_btn_group(
    role="group"
  )
    a-button(
      class="a_btn a_btn_outline_secondary"
      text="_A_MODAL_PAGE_BTN_OPEN_MODAL_"
      text-after=" (small)"
      @click="openModal('small')"
    )
    a-button(
      class="a_btn a_btn_outline_secondary"
      text="_A_MODAL_PAGE_BTN_OPEN_MODAL_"
      text-after=" (large)"
      @click="openModal('large')"
    )
    a-button(
      class="a_btn a_btn_outline_secondary"
      text="_A_MODAL_PAGE_BTN_OPEN_MODAL_"
      text-after=" (xl)"
      @click="openModal('xl')"
    )
    a-button(
      class="a_btn a_btn_outline_secondary"
      text="_A_MODAL_PAGE_BTN_OPEN_MODAL_"
      text-after=" (xxl)"
      @click="openModal('xxl')"
    )
    a-button(
      class="a_btn a_btn_outline_secondary"
      text="_A_MODAL_PAGE_BTN_OPEN_MODAL_"
      text-after=" (fullscreen)"
      @click="openModal('fullscreen')"
    )

  a-modal(
    v-if="isModalVisible"
    header-text="Aloha"
    :close="closeModal"
    :size="sizeModal"
  )
