aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_UI_GROUP_ERRORS_HEADER_"
  description="_A_UI_GROUP_ERRORS_DESCRIPTION_"
  :props="['errors']"
)
  a-one-checkbox(
    v-model="model"
    errors="Aloha"
    label="Aloha"
  )
