aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_CONFIRM_GROUP_FOCUS_HEADER_"
  description="_A_CONFIRM_GROUP_FOCUS_DESCRIPTION_"
  :props="['selector-close-ids', 'save-button-text']"
)
  .a_btn_group
    a-button(
      id="btn_confirm_focus"
      class="a_btn a_btn_primary"
      text="_A_CONFIRM_EXAMPLE_FOCUS_BTN_"
      @click="openConfirmLocal"
    )

    a-button(
      id="btn_confirm_focus_secondary"
      class="a_btn a_btn_secondary"
      text="_A_CONFIRM_EXAMPLE_FOCUS_SECONDARY_BTN_"
    )
