aloha-example(
  :code-html="codeHtml"
  header="_A_TEXT_STYLES_WRAP_NAME_"
  description="_A_TEXT_STYLES_WRAP_DESCRIPTION_"
)
  div
    code.a_color_danger.a_mr_2 .a_text_wrap
    .a_badge.a_text_wrap(
      style="width: 6rem;"
    ) Lorem ipsum dolor sit amet consectetur adipisicing elit
  .a_mt_3
    code.a_color_danger.a_mr_2 .a_text_nowrap
    .a_text_nowrap.a_bg_gray_300(
      style="width: 6rem;"
    ) Lorem ipsum dolor sit amet consectetur adipisicing elit
  .a_mt_3
    code.a_color_danger.a_mr_2 .a_text_break
    .a_text_break(
      style="width: 10rem;"
    ) aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
  .a_mt_3
    code.a_color_danger.a_mr_2 .a_text_wrap_hyphens
    .a_text_wrap_hyphens(
      style="width: 10rem;"
      lang="en"
    ) pneumonoultramicroscopicsilicovolcanoconiosis
  .a_mt_3
    code.a_color_danger.a_mr_2 .a_text_truncate
    .a_text_truncate(
      style="width: 6rem;"
    ) Lorem ipsum dolor sit amet consectetur adipisicing elit
