aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_BASIC_USAGE_"
  :props="['model-value', 'label']"
)
  .a_columns.a_columns_count_12
    .a_column.a_column_6.a_columns_count_12_touch
      a-datepicker(
        v-model="model1"
        label="_PAGE_DATEPICKER_LBL_INPUT_1_"
      )
      div model1: {{ model1 }}
  .a_columns.a_columns_count_12
    .a_column.a_column_6.a_columns_count_12_touch
      a-datepicker(
        v-model="model2"
        label="_PAGE_DATEPICKER_LBL_INPUT_2_"
      )
      div model2: {{ model2 }}
  .a_columns.a_columns_count_12
    .a_column.a_column_6.a_columns_count_12_touch
      a-datepicker(
        v-model="model3"
        label="_PAGE_DATEPICKER_LBL_INPUT_3_"
      )
      div model3: {{ model3 }}
