aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_UI_GROUP_LABEL_DESCRIPTION_HEADER_"
  description="_A_UI_GROUP_LABEL_DESCRIPTION_DESCRIPTION_"
  :props="['label-description']"
)
  a-input-currency(
    v-model="model"
    :is-label-float="false"
    label="Input"
    label-description="Aloha"
  )
  div model: {{ model }}
