#aloha_page
  a-page-tab-title(
    v-if="pageTitle"
    :title="pageTitle"
  )
  a-translation(
    v-if="pageTitleH1"
    :html="pageTitleH1"
    tag="h1"
  )
  h1(
    v-else-if="pageTitle"
    v-html="pageTitle"
  )

  slot(
    name="body"
  )
