aloha-page(
  :page-title="pageTitle"
)
  template(
    v-slot:body
  )
    a-translation(
      tag="p"
      html="_PAGE_FILTER_LOWER_CASE_DESCRIPTION_"
    )

    page-filter-import-function(
      function-name="filterLowerCase"
      type-import="filters"
    )

    page-filter-import-composition-api(
      function-name="filterLowerCase"
    )

    page-filter-arguments(
      :arguments-text="argumentsText"
      function-description="filterLowerCase(value)"
    )

    page-filter-lower-case-example

    page-filter-test(
      :test="test"
    )
