aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_UI_GROUP_LABEL_DESCRIPTION_HEADER_"
  description="_A_UI_GROUP_LABEL_DESCRIPTION_DESCRIPTION_"
  :props="['label-description']"
)
  a-radio(
    v-model="model"
    :data="data"
    label="Radio"
    label-description="Aloha"
  )
  div model: {{ model }}
