aloha-page(
  :page-title="pageTitle"
)
  template(
    v-slot:body
  )
    a-translation(
      tag="p"
      html="_PAGE_FILTER_DEFAULT_FOR_EMPTY_DESCRIPTION_"
    )

    page-filter-import-function(
      function-name="filterDefaultForEmpty"
    )

    page-filter-import-composition-api(
      function-name="filterDefaultForEmpty"
    )

    page-filter-arguments(
      function-description="filterDefaultForEmpty(value, { [emptyValue=\"-\"] })"
      placeholder="_PAGE_FILTER_DEFAULT_FOR_EMPTY_ARGUMENTS_"
    )

    page-filter-default-for-empty-example

    page-filter-default-for-empty-empty-value
