aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_PAGE_DATEPICKER_MAX_MIN_DATE_HEADER_"
  description="_PAGE_DATEPICKER_MAX_MIN_DATE_DESCRIPTION_"
  :props="['max-date', 'min-date']"
)
  a-datepicker(
    v-model="model1"
    :min-date="dateYesterday"
    label="_PAGE_DATEPICKER_LBL_WITH_MIN_DATE_"
    type="date"
  )
  div model1: {{ model1 }}
  a-datepicker(
    v-model="model2"
    :max-date="dateTomorrow"
    class="a_mt_3"
    label="_PAGE_DATEPICKER_LBL_WITH_MAX_DATE_"
    type="date"
  )
  div model2: {{ model2 }}
  a-datepicker(
    v-model="model3"
    :max-date="dateTomorrow"
    :min-date="dateTomorrow"
    class="a_mt_3"
    label="_PAGE_DATEPICKER_LBL_WITH_MIN_AND_MAX_DATE_"
    type="date"
  )
  div model3: {{ model3 }}
