aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_LINK_GROUP_HTML_HEADER_"
  description="_A_LINK_GROUP_HTML_DESCRIPTION_"
)
  a-link(
    class="a_btn a_btn_primary"
    html="_A_LINK_EXAMPLE_HTML_"
  )
  a-link(
    class="a_btn a_btn_primary a_ml_2"
    html="<span onclick='alert(\"Aloha\")'>Aloha</button>"
  )
