component.a_cloak(
  :is="tag"
  role="status"
  :class="classAlign"
)
  .a_cloak__box(
    :class="classForBox"
  )
    a-translation.a_cloak__text.a_cloak__text_left(
      v-if="isTextLeft"
      :class="classTextSize"
      :text="text"
      :extra="extraTranslate"
    )
    a-spinner.a_cloak__spinner(
      :type="spinnerType"
      :type-color="spinnerTypeColor"
      :size="size"
      text=""
      aria-hidden="true"
    )
    a-translation.a_cloak__text.a_cloak__text_right(
      v-if="!isTextLeft"
      :class="classTextSize"
      :text="text"
      :extra="extraTranslate"
    )

