aloha-page(
  :page-title="pageTitle"
)
  template(
    v-slot:body
  )
    a-translation(
      tag="p"
      html="_A_SELECT_COMPONENT_DESCRIPTION_"
    )

    page-select-basic

    page-select-label-description

    page-select-group

    page-select-search

    page-select-search-text-in-html

    page-select-key-disabled

    page-select-translate-data

    page-select-data-extra

    page-select-exclusive-option

    page-select-readonly

    page-select-mode-one-per-group

    div
      .a_columns.a_columns_count_12
        .a_column.a_column_6
          a-select(
            v-model="model"
            :data="data"
            key-id="id"
            key-label="label"
            label="Test label"
            type="select"
            :search="true"
            key-group="group"
            sort-order-group="desc"
            :is-menu-width-as-button="false"
            menu-width-type="by_content"
          )
          div model: {{ model }}
      a-select(
        v-model="model"
        :data="data"
        key-id="id"
        :key-label-callback="getLabel"
        label="Test label callback"
        type="select"
        :search="true"
        sort-order="desc"
      )

      br
      a-select(
        v-model="modelArr"
        :data="data"
        key-id="id"
        key-label="label"
        label="Test label multiselect"
        type="multiselect"
        :is-label-float="false"
        placeholder="placeholder"
        :search="true"
        :is-select-all="true"
        :is-deselect-all="true"
        slot-name="test"
        :max-count-multiselect="2"
      )
        template(
          v-slot:test="{ label, labelFiltered }"
        )
          a-icon.a_mr_1(
            icon="Cog"
          )
          span(
            v-if="labelFiltered"
            v-html="labelFiltered"
          )
          span(
            v-else
            v-html="label"
          )
      div modelArr: {{ modelArr }}

      br
      a-select(
        v-model="modelArr2"
        :data="data"
        key-id="id"
        key-label="label"
        label="Test label multiselect2"
        type="multiselect"
        :search="true"
        :is-select-all="true"
        :is-deselect-all="true"
        :is-selection-closeable="false"
        slot-name="aloha"
      )
        template(
          v-slot:aloha="{ label, labelFiltered }"
        )
          a-icon.a_mr_1(
            icon="Cog"
          )
          span(
            v-if="labelFiltered"
            v-html="labelFiltered"
          )
          span(
            v-else
            v-html="label"
          )
      div modelArr2: {{ modelArr2 }}
