aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_TOOLTIP_GROUP_MAX_WIDTH_HEADER_"
  description="_A_TOOLTIP_GROUP_MAX_WIDTH_DESCRIPTION_"
  props="max-width"
)
  a-tooltip(
    class="a_btn a_btn_primary"
    tag="button"
    :max-width="300"
  )
    span Aloha

    template(
      v-slot:title
    )
      div {{ title }}
