.aloha_example
  a-translation.aloha_example__h2(
    tag="h2"
    :html="header"
  )

  a-translation(
    v-if="description"
    tag="p"
    :html="description"
  )

  .aloha_example__body
    slot

  .aloha_example__actions
    .a_btn_group
      a-button.a_btn.a_btn_secondary(
        icon-left="FiletypeJs"
        title="_COPY_CODE_JS_"
        @click="copyJsToClipboard"
      )
      a-button.a_btn.a_btn_secondary(
        icon-left="FiletypeHtml"
        title="_COPY_CODE_HTML_"
        @click="copyHtmlToClipboard"
      )
      a-button.a_btn.a_btn_secondary(
        icon-left="ChevronExpand"
        :title="btnToggleCodeTitle"
        @click="toggleCode"
      )

  .aloha_example__code(
    v-if="isCodeVisible"
  )
    h3.aloha_example__h3 HTML
    pre
      code {{ codeHtml }}

    h3.aloha_example__h3.a_mt_3 JS
    pre
      code {{ codeJs }}