aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_SPINNER_GROUP_SIZES_HEADER_"
  description="_A_SPINNER_GROUP_SIZES_DESCRIPTION_"
  :props="['class']"
)
  div
    a-spinner(
      class="a_spinner_small"
    )
  div(
    class="a_mt_3"
  )
    a-spinner
  div(
    class="a_mt_3"
  )
    a-spinner(
      class="a_spinner_large"
    )
