aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_TABLE_GROUP_PREVIEW_DOWN_EXAMPLE_HEADER_"
  description="_A_TABLE_GROUP_PREVIEW_DOWN_EXAMPLE_DESCRIPTION_"
)
  div
    a-table(
      :columns="columns"
      :data="data"
      label="_A_TABLE_GROUP_SIMPLE_LABEL_"
      key-id="id"
      preview="down"
    )
      template(
        v-slot:previewDown="vm"
      )
        pre {{ vm }}
