aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_UI_GROUP_LABEL_DESCRIPTION_HEADER_"
  description="_A_UI_GROUP_LABEL_DESCRIPTION_DESCRIPTION_"
  :props="['label-description']"
)
  a-multiselect-ordered(
    v-model="model"
    :data="data"
    key-id="value"
    key-label="label"
    label="Select"
    label-description="Aloha"
  )
