aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_WIZARD_GROUP_IS_CONTROL_OUTSIDE_HEADER_"
  description="_A_WIZARD_GROUP_IS_CONTROL_OUTSIDE_DESCRIPTION_"
  :props="['is-control-outside', 'step-active', 'steps-visited']"
  :emits="['go-step-back', 'go-step-forward']"
)
  a-wizard(
    :steps="wizardSteps"
    :is-control-outside="true"
    :step-active="stepActive"
    :steps-visited="stepsVisited"
    @go-step-back="goStepBack"
    @go-step-forward="goStepForward"
  )
    template(
      v-slot:step1
    )
      a-translation(
        tag="h2"
        text="_A_WIZARD_STEP_1_"
      )
      p {{ text }}

    template(
      v-slot:step2
    )
      a-translation(
        tag="h2"
        text="_A_WIZARD_STEP_2_"
      )
      p {{ text }}

    template(
      v-slot:step3
    )
      a-translation(
        tag="h2"
        text="_A_WIZARD_STEP_3_"
      )
      p {{ text }}

    template(
      v-slot:step4
    )
      a-translation(
        tag="h2"
        text="_A_WIZARD_STEP_4_"
      )
      p {{ text }}