aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="Icon"
  description="_A_RATE_DESCRIPTION_ICON_"
  props="icon"
)
  a-rate(
    icon="ChatSquareText"
  )
  br
  a-rate(
    icon="ArrowRightCircle"
  )
