aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_DISCLOSURE_GROUP_BTN_TITLE_HTML_HEADER_"
  description="_A_DISCLOSURE_GROUP_BTN_TITLE_HTML_DESCRIPTION_"
  :props="['btn-title-less', 'btn-title-more', 'is-btn-title-html']"
)
  .a_columns.a_columns_count_12
    .a_column.a_column_4.a_column_12_tablet
      a-disclosure(
        :text-less="textLess"
        :text-more="textMore"
        btn-title-less="_A_DISCLOSURE_GROUP_TITLE_LESS_"
        btn-title-more="_A_DISCLOSURE_GROUP_TITLE_MORE_"
        :is-btn-title-html="true"
      )
      a-disclosure(
        class="a_mt_2"
        :text-less="textLess"
        :text-more="textMore"
        btn-title-less="<strong>Aloha</strong>"
        btn-title-more="<strong>Aloha</strong>"
        :is-btn-title-html="true"
      )
