aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_LINK_GROUP_ICONS_HEADER_"
  description="_A_LINK_GROUP_ICONS_DESCRIPTION_"
)
  a-link(
    class="a_btn a_btn_primary"
    icon-left="Dnd"
    href="https://github.com/"
  )
  a-link(
    class="a_btn a_btn_primary a_ml_2"
    icon-left="Dnd"
    text="Aloha"
    href="https://github.com/"
  )
  a-link(
    class="a_btn a_btn_primary a_ml_2"
    icon-right="Dnd"
    text="Aloha"
    href="https://github.com/"
  )
  a-link(
    class="a_btn a_btn_primary a_ml_2"
    icon-left="Dnd"
    icon-right="Dnd"
    text="Aloha"
    href="https://github.com/"
  )
  a-link(
    class="a_btn a_btn_primary a_ml_2"
    icon-left="Dnd"
    icon-right="Dnd"
    href="https://github.com/"
  )

