aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_TABLE_GROUP_PAGINATION_LIMIT_START_HEADER_"
  description="_A_TABLE_GROUP_PAGINATION_LIMIT_START_DESCRIPTION_"
  props="limit-start"
)
  div
    a-table(
      :columns="columns"
      :data="data"
      label="_A_TABLE_GROUP_PAGINATION_LIMIT_START_LABEL_"
      key-id="id"
      :use-pagination="true"
      :limits-per-page="['5', '10', '25', '50', '100', '200']"
      :limit-start="5"
    )
