aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_WIZARD_GROUP_IS_STEP_NUMBER_VISIBLE_HEADER_"
  description="_A_WIZARD_GROUP_IS_STEP_NUMBER_VISIBLE_DESCRIPTION_"
  :props="['is-step-number-visible']"
)
  .a_columns.a_columns_count_12
    .a_column.a_column_6.a_columns_count_12_touch.a_mb_5
      a-switch(
        v-model="isStepNumberVisible"
        label="is-step-number-visible"
      )
  a-wizard(
    :steps="wizardSteps"
    :is-step-number-visible="isStepNumberVisible"
  )
    template(
      v-slot:step1
    )
      a-translation(
        tag="h3"
        text="_A_WIZARD_STEP_1_"
      )
      p {{ text }}

    template(
      v-slot:step2
    )
      a-translation(
        tag="h3"
        text="_A_WIZARD_STEP_2_"
      )
      p {{ text }}

    template(
      v-slot:step3
    )
      a-translation(
        tag="h3"
        text="_A_WIZARD_STEP_3_"
      )
      p {{ text }}

    template(
      v-slot:step4
    )
      a-translation(
        tag="h3"
        text="_A_WIZARD_STEP_4_"
      )
      p {{ text }}