aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_INPUT_GROUP_READONLY_PASSWORD_HEADER_"
  description="_A_INPUT_GROUP_READONLY_PASSWORD_DESCRIPTION_"
  :props="['readonly', 'readonly-password-length', 'readonly-password-symbol', 'show-password', 'type=\"password\"']"
)
  a-input(
    :model-value="model"
    :readonly="true"
    :show-password="false"
    label="Input1"
    type="password"
  )
  a-input(
    :model-value="model"
    :readonly-password-length="3"
    :readonly="true"
    :show-password="false"
    class="a_mt_3"
    label="Input2"
    type="password"
  )
  a-input(
    :model-value="model"
    :readonly-password-length="3"
    :readonly="true"
    :show-password="false"
    class="a_mt_3"
    label="Input3"
    readonly-password-symbol="x"
    type="password"
  )
  a-input(
    :model-value="model"
    :readonly="true"
    :show-password="true"
    label="Input4"
    type="password"
  )
