aloha-example(
  :code-html="codeHtml"
  header="_A_TEXT_STYLES_CLAMP_NAME_"
  description="_A_TEXT_STYLES_CLAMP_DESCRIPTION_"
)
  div
    code.a_color_danger.a_mr_2 .a_text_clamp
    .a_text_clamp(
      style="max-width: 10rem;"
    )
      .
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nisl eros,
        pulvinar facilisis justo mollis, auctor consequat urna. Morbi a bibendum metus.
        Donec scelerisque sollicitudin enim eu venenatis. Duis tincidunt laoreet ex,
        in pretium orci vestibulum eget. Class aptent taciti sociosqu ad litora torquent
        per conubia nostra, per inceptos himenaeos. Duis pharetra luctus lacus ut
        vestibulum. Maecenas ipsum lacus, lacinia quis posuere ut, pulvinar vitae dolor.
        Integer eu nibh at nisi ullamcorper sagittis id vel leo. Integer feugiat
        faucibus libero, at maximus nisl suscipit posuere. Morbi nec enim nunc.
  .a_mt_3
    code.a_color_danger.a_mr_2 .a_text_clamp.a_text_clamp_2
    .a_text_clamp.a_text_clamp_2(
      style="max-width: 10rem;"
    )
      .
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nisl eros,
        pulvinar facilisis justo mollis, auctor consequat urna. Morbi a bibendum metus.
        Donec scelerisque sollicitudin enim eu venenatis. Duis tincidunt laoreet ex,
        in pretium orci vestibulum eget. Class aptent taciti sociosqu ad litora torquent
        per conubia nostra, per inceptos himenaeos. Duis pharetra luctus lacus ut
        vestibulum. Maecenas ipsum lacus, lacinia quis posuere ut, pulvinar vitae dolor.
        Integer eu nibh at nisi ullamcorper sagittis id vel leo. Integer feugiat
        faucibus libero, at maximus nisl suscipit posuere. Morbi nec enim nunc.
  .a_mt_3
    code.a_color_danger.a_mr_2 .a_text_clamp.a_text_clamp_3
    .a_text_clamp.a_text_clamp_3(
      style="max-width: 10rem;"
    )
      .
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nisl eros,
        pulvinar facilisis justo mollis, auctor consequat urna. Morbi a bibendum metus.
        Donec scelerisque sollicitudin enim eu venenatis. Duis tincidunt laoreet ex,
        in pretium orci vestibulum eget. Class aptent taciti sociosqu ad litora torquent
        per conubia nostra, per inceptos himenaeos. Duis pharetra luctus lacus ut
        vestibulum. Maecenas ipsum lacus, lacinia quis posuere ut, pulvinar vitae dolor.
        Integer eu nibh at nisi ullamcorper sagittis id vel leo. Integer feugiat
        faucibus libero, at maximus nisl suscipit posuere. Morbi nec enim nunc.
  .a_mt_3
    code.a_color_danger.a_mr_2 .a_text_clamp.a_text_clamp_4
    .a_text_clamp.a_text_clamp_4(
      style="max-width: 10rem;"
    )
      .
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nisl eros,
        pulvinar facilisis justo mollis, auctor consequat urna. Morbi a bibendum metus.
        Donec scelerisque sollicitudin enim eu venenatis. Duis tincidunt laoreet ex,
        in pretium orci vestibulum eget. Class aptent taciti sociosqu ad litora torquent
        per conubia nostra, per inceptos himenaeos. Duis pharetra luctus lacus ut
        vestibulum. Maecenas ipsum lacus, lacinia quis posuere ut, pulvinar vitae dolor.
        Integer eu nibh at nisi ullamcorper sagittis id vel leo. Integer feugiat
        faucibus libero, at maximus nisl suscipit posuere. Morbi nec enim nunc.
  .a_mt_3
    code.a_color_danger.a_mr_2 .a_text_clamp.a_text_clamp_5
    .a_text_clamp.a_text_clamp_5(
      style="max-width: 10rem;"
    )
      .
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nisl eros,
        pulvinar facilisis justo mollis, auctor consequat urna. Morbi a bibendum metus.
        Donec scelerisque sollicitudin enim eu venenatis. Duis tincidunt laoreet ex,
        in pretium orci vestibulum eget. Class aptent taciti sociosqu ad litora torquent
        per conubia nostra, per inceptos himenaeos. Duis pharetra luctus lacus ut
        vestibulum. Maecenas ipsum lacus, lacinia quis posuere ut, pulvinar vitae dolor.
        Integer eu nibh at nisi ullamcorper sagittis id vel leo. Integer feugiat
        faucibus libero, at maximus nisl suscipit posuere. Morbi nec enim nunc.
