aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_WIZARD_GROUP_ICON_HEADER_"
  description="_A_WIZARD_GROUP_ICON_DESCRIPTION_"
  props="steps.icon"
)
  h3.a_my_3 type="basic"
  a-wizard(
    :steps="wizardSteps"
    type="basic"
  )
    template(
      v-slot:step1
    )
      a-translation(
        tag="h4"
        text="_A_WIZARD_STEP_1_"
      )
      p {{ text }}

    template(
      v-slot:step2
    )
      a-translation(
        tag="h4"
        text="_A_WIZARD_STEP_2_"
      )
      p {{ text }}

    template(
      v-slot:step3
    )
      a-translation(
        tag="h4"
        text="_A_WIZARD_STEP_3_"
      )
      p {{ text }}

    template(
      v-slot:step4
    )
      a-translation(
        tag="h4"
        text="_A_WIZARD_STEP_4_"
      )
      p {{ text }}

  h3.a_my_3 type="line"
  a-wizard(
    :steps="wizardSteps"
    type="line"
  )
    template(
      v-slot:step1
    )
      a-translation(
        tag="h4"
        text="_A_WIZARD_STEP_1_"
      )
      p {{ text }}

    template(
      v-slot:step2
    )
      a-translation(
        tag="h4"
        text="_A_WIZARD_STEP_2_"
      )
      p {{ text }}

    template(
      v-slot:step3
    )
      a-translation(
        tag="h4"
        text="_A_WIZARD_STEP_3_"
      )
      p {{ text }}

    template(
      v-slot:step4
    )
      a-translation(
        tag="h4"
        text="_A_WIZARD_STEP_4_"
      )
      p {{ text }}

  h3.a_my_3 type="round"
  a-wizard(
    :steps="wizardSteps"
    type="round"
  )
    template(
      v-slot:step1
    )
      a-translation(
        tag="h4"
        text="_A_WIZARD_STEP_1_"
      )
      p {{ text }}

    template(
      v-slot:step2
    )
      a-translation(
        tag="h4"
        text="_A_WIZARD_STEP_2_"
      )
      p {{ text }}

    template(
      v-slot:step3
    )
      a-translation(
        tag="h4"
        text="_A_WIZARD_STEP_3_"
      )
      p {{ text }}

    template(
      v-slot:step4
    )
      a-translation(
        tag="h4"
        text="_A_WIZARD_STEP_4_"
      )
      p {{ text }}

  h3.a_my_3 type="arrows"
  a-wizard(
    :steps="wizardSteps"
    type="arrows"
  )
    template(
      v-slot:step1
    )
      a-translation(
        tag="h4"
        text="_A_WIZARD_STEP_1_"
      )
      p {{ text }}

    template(
      v-slot:step2
    )
      a-translation(
        tag="h4"
        text="_A_WIZARD_STEP_2_"
      )
      p {{ text }}

    template(
      v-slot:step3
    )
      a-translation(
        tag="h4"
        text="_A_WIZARD_STEP_3_"
      )
      p {{ text }}

    template(
      v-slot:step4
    )
      a-translation(
        tag="h4"
        text="_A_WIZARD_STEP_4_"
      )
      p {{ text }}