aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_BASIC_USAGE_"
  description="_A_BUTTON_GROUP_BASIC_DESCRIPTION_"
)
  .a_columns.a_columns_count_12
    .a_column.a_column_4.a_column_12_tablet
      a-button(
        class="a_btn a_btn_link"
        text="link"
        @click="onAlert('link')"
      )
      a-button(
        class="a_btn a_btn_primary a_ml_2"
        text="primary"
        @click="onAlert('primary')"
      )
      a-button(
        class="a_btn a_btn_secondary a_ml_2"
        text="secondary"
        @click="onAlert('secondary')"
      )
      a-button(
        class="a_btn a_btn_tertiary a_ml_2"
        text="tertiary"
        @click="onAlert('tertiary')"
      )
      a-button(
        class="a_btn a_btn_success a_ml_2"
        text="success"
        @click="onAlert('success')"
      )
      a-button(
        class="a_btn a_btn_info a_ml_2"
        text="info"
        @click="onAlert('info')"
      )
      a-button(
        class="a_btn a_btn_warning a_ml_2"
        text="warning"
        @click="onAlert('warning')"
      )
      a-button(
        class="a_btn a_btn_danger a_ml_2"
        text="danger"
        @click="onAlert('danger')"
      )
      a-button(
        class="a_btn a_btn_dark a_ml_2"
        text="dark"
        @click="onAlert('dark')"
      )
      a-button(
        class="a_btn a_btn_light a_ml_2"
        text="light"
        @click="onAlert('light')"
      )
