aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_BASIC_USAGE_"
  description="_A_BUTTON_GROUP_BASIC_DESCRIPTION_"
  props="class"
)
  a-button(
    class="a_btn a_btn_link"
    text="link"
    @click="onAlert('link')"
  )
  a-button(
    class="a_btn a_btn_primary a_ml_2"
    text="primary"
    :confirm="true"
    @click="onAlert('primary')"
  )
  a-button(
    class="a_btn a_btn_secondary a_ml_2"
    text="secondary"
    :confirm="true"
    :confirm-time="0"
    @click="onAlert('secondary')"
  )
  a-button(
    class="a_btn a_btn_tertiary a_ml_2"
    text="tertiary"
    :confirm="true"
    confirm-message="hallo aloha lorem ipsum 1500000000 qwertrtz"
    :yes-attributes={text: "success"}
    :no-attributes={text: "nope"}
    in-progress-message="test wait message"
    confirm-position="right"
    @click="onAlert('tertiary')"
  )
  a-button(
    class="a_btn a_btn_success a_ml_2"
    text="success"
    @click="onAlert('success')"
  )
  a-button(
    class="a_btn a_btn_info a_ml_2"
    text="info"
    @click="onAlert('info')"
  )
  a-button(
    class="a_btn a_btn_warning a_ml_2"
    text="warning"
    @click="onAlert('warning')"
  )
  a-button(
    class="a_btn a_btn_danger a_ml_2"
    text="danger"
    @click="onAlert('danger')"
  )
  a-button(
    class="a_btn a_btn_dark a_ml_2"
    text="dark"
    @click="onAlert('dark')"
  )
  a-button(
    class="a_btn a_btn_light a_ml_2"
    text="light"
    @click="onAlert('light')"
  )
