aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_UI_GROUP_LABEL_DESCRIPTION_HEADER_"
  description="_A_UI_GROUP_LABEL_DESCRIPTION_DESCRIPTION_"
  :props="['label-description']"
)
  a-input-number-range(
    v-model="model"
    label="Input"
    label-description="Aloha"
  )
  .a_mt_3 model: {{ model }}
