aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_PROGRESS_GROUP_INDETERMINATE_HEADER_"
  description="_A_PROGRESS_GROUP_INDETERMINATE_DESCRIPTION_"
  props="indeterminate"
)
  a-progress(
    :value="20"
    class-progress-bar="a_bg_primary"
    :indeterminate="true"
    :show-value="false"
  )
  a-progress(
    class="a_mt_4"
    :value="30"
    class-progress-bar="a_bg_secondary"
    :indeterminate="true"
    :show-value="false"
  )
  a-progress(
    class="a_mt_4"
    :value="40"
    class-progress-bar="a_bg_tertiary"
    :indeterminate="true"
    :show-value="false"
  )
  a-progress(
    class="a_mt_4"
    :value="50"
    class-progress-bar="a_bg_success"
    :indeterminate="true"
    :show-value="false"
  )
  a-progress(
    class="a_mt_4"
    :value="60"
    class-progress-bar="a_bg_warning"
    :indeterminate="true"
    :show-value="false"
  )
  a-progress(
    class="a_mt_4"
    :value="70"
    class-progress-bar="a_bg_info"
    :indeterminate="true"
    :show-value="false"
  )
  a-progress(
    class="a_mt_4"
    :value="80"
    class-progress-bar="a_bg_danger"
    :indeterminate="true"
    :show-value="false"
  )
