div
  a-page-tab-title(
    title="_PAGE_MIGRATION_1_TO_2_PAGE_TITLE_"
  )
  a-translation.a_mb_3(
    tag="h1"
    safe-html="_PAGE_MIGRATION_1_TO_2_H1_"
  )
  a-translation.a_mb_3(
    tag="h2"
    safe-html="_PAGE_MIGRATION_1_TO_2_RENAME_HEADER_"
  )
  a-translation.a_mb_3(
    tag="h3"
    safe-html="_PAGE_MIGRATION_1_TO_2_RENAME_AMENU_HEADER_"
  )
  a-translation.a_mb_3(
    tag="div"
    safe-html="_PAGE_MIGRATION_1_TO_2_RENAME_AMENU_DESCRIPTION_"
  )
  aloha-highlightjs(
    :code="importCode"
    language="javascript"
  )
  a-translation.a_my_3(
    tag="h3"
    safe-html="_PAGE_MIGRATION_1_TO_2_RENAME_TINYMCE_HEADER_"
  )
  a-translation.a_mb_3(
    tag="div"
    safe-html="_PAGE_MIGRATION_1_TO_2_RENAME_TINYMCE_DESCRIPTION_"
  )
  hr.a_my_5
  a-translation.a_mb_3(
    tag="h2"
    safe-html="_PAGE_MIGRATION_1_TO_2_STYLES_HEADER_"
  )
  a-translation.a_mb_3(
    tag="h3"
    safe-html="_PAGE_MIGRATION_1_TO_2_STYLES_REMOVE_HEADER_"
  )
  a-translation.a_mb_3(
    tag="div"
    safe-html="_PAGE_MIGRATION_1_TO_2_STYLES_REMOVE_DESCRIPTION_"
  )
  a-translation.a_mb_3(
    tag="h3"
    safe-html="_PAGE_MIGRATION_1_TO_2_STYLES_ALOHA_CSS_HEADER_"
  )
  a-translation.a_mb_3(
    tag="div"
    safe-html="_PAGE_MIGRATION_1_TO_2_STYLES_ALOHA_CSS_DESCRIPTION_"
  )
  aloha-highlightjs(
    :code="importCssCode"
    language="javascript"
  )
  hr.a_my_5
  a-translation.a_mb_3(
    tag="h2"
    safe-html="_PAGE_MIGRATION_1_TO_2_IMPORTS_HEADER_"
  )
  a-translation.a_mb_3(
    tag="div"
    safe-html="_PAGE_MIGRATION_1_TO_2_IMPORTS_DESCRIPTION_"
  )
  aloha-highlightjs(
    :code="importsAlohaVueCode"
    language="javascript"
  )
  hr.a_my_5
  a-translation.a_mb_3(
    tag="h2"
    safe-html="_PAGE_MIGRATION_1_TO_2_DEPENDENCY_HEADER_"
  )
  a-translation.a_mb_3(
    tag="div"
    safe-html="_PAGE_MIGRATION_1_TO_2_DEPENDENCY_DESCRIPTION_"
  )
