aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_ELEMENT_GROUP_SLOT_DEFAULT_HEADER_"
  description="_A_ELEMENT_GROUP_SLOT_DEFAULT_DESCRIPTION_"
  slots="default"
)
  a-element(
    class="a_btn a_btn_primary"
    type="text"
  )
    span (Aloha)
