aloha-example(
  :use-actions="false"
  header="_A_SPACING_TABLE_NAME_"
  description="_A_SPACING_TABLE_DESCRIPTION_"
)
  table.aloha_table_properties.a_mt_2
    thead
      tr
        th(
          scope="col"
        )
          a-translation(
            tag="span"
            html="_A_TABLE_PROPERTY_"
          )
        th(
          scope="col"
        )
          a-translation(
            tag="span"
            html="_A_TABLE_SHORTCUT_"
          )
        th(
          colspan="8"
          scope="col"
        )
          a-translation(
            tag="span"
            html="_A_TABLE_CLASSES_"
          )
    tbody
      tr(
        v-for="(row, rowIndex) in rows"
        :key="rowIndex"
      )
        td(
          v-html="row.property"
        )
        td
          code(
            v-html="row.shortcut"
          )
        td(
          v-for="_class in row.classes"
          :key="_class"
        )
          code(
            v-html="_class"
          )

    tfoot
      tr
        th(
          colspan="2"
        )
          a-translation(
            tag="span"
            html="_A_TABLE_VALUES_"
          )
        th(
          v-for="col in colsFooter"
          :key="col"
        )
          code {{ col }}

  a-translation.a_my_4(
    tag="p"
    html="_A_SPACING_TABLE_USAGE_"
  )

  aloha-highlightjs(
    :code="codeHtml"
    language="html"
  )
