aloha-page(
  :page-title="pageTitle"
)
  template(
    v-slot:body
  )
    a-translation(
      tag="p"
      html="_PAGE_FILTER_DATE_DESCRIPTION_"
    )

    page-filter-import-function(
      function-name="filterDate"
    )

    page-filter-import-composition-api(
      function-name="filterDate"
    )

    page-filter-arguments(
      :arguments-text="argumentsText"
      function-description="filterDate(value, { [format=\"date\"] })"
    )

    page-filter-date-example

    page-filter-date-format

    page-filter-test(
      :test="test"
    )
