aloha-page(
  :page-title="pageTitle"
)
  template(
    v-slot:body
  )
    a-translation(
      tag="p"
      html="_PAGE_FILTER_LIST_DESCRIPTION_"
    )

    page-filter-import-function(
      function-name="filterList"
    )

    page-filter-import-composition-api(
      function-name="filterList"
    )

    page-filter-arguments(
      :arguments-text="argumentsText"
      function-description="filterList(array, { [isHtml=true], [isSimpleArray=false], [keyChildren=\"\"], [keyLabel=\"\"], [keyLabelCallback], [listClass=\"\"], [separator=\", \"], [tag=\"ul\"] })"
    )

    page-filter-list-is-simple-array

    page-filter-list-key-label

    page-filter-list-key-label-callback

    page-filter-list-is-html

    page-filter-list-separator

    page-filter-list-tag

    page-filter-list-list-class

    page-filter-list-key-children

    page-filter-list-is-simple-array-tree
