aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_UI_GROUP_LABEL_SCREEN_READER_HEADER_"
  description="_A_UI_GROUP_LABEL_SCREEN_READER_DESCRIPTION_"
  :props="['label-screen-reader']"
)
  a-switch(
    v-model="model"
    label="ASwitch"
  )
  a-switch(
    v-model="model"
    class="a_mt_3"
    label-screen-reader="ASwitch"
  )
