aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_LINK_GROUP_GROUP_HORIZONTAL_VERTICAL_HEADER_"
  description="_A_LINK_GROUP_GROUP_HORIZONTAL_VERTICAL_DESCRIPTION_"
)
  .a_btn_group_vertical
    .a_btn_group
      a-link(
        class="a_btn a_btn_outline_primary"
        text="outline-primary"
        href="https://github.com/"
      )
      a-link(
        class="a_btn a_btn_outline_secondary"
        text="outline-secondary"
        href="https://github.com/"
      )
      a-link(
        class="a_btn a_btn_outline_success"
        text="outline-success"
        href="https://github.com/"
      )
      a-link(
        class="a_btn a_btn_outline_info"
        text="outline-info"
        href="https://github.com/"
      )
    .a_btn_group
      a-link(
        class="a_btn a_btn_outline_primary"
        text="outline-primary"
        href="https://github.com/"
      )
      a-link(
        class="a_btn a_btn_outline_secondary"
        text="outline-secondary"
        href="https://github.com/"
      )
      a-link(
        class="a_btn a_btn_outline_success"
        text="outline-success"
        href="https://github.com/"
      )
      a-link(
        class="a_btn a_btn_outline_info"
        text="outline-info"
        href="https://github.com/"
      )
    .a_btn_group
      a-link(
        class="a_btn a_btn_outline_primary"
        text="outline-primary"
        href="https://github.com/"
      )
      a-link(
        class="a_btn a_btn_outline_secondary"
        text="outline-secondary"
        href="https://github.com/"
      )
      a-link(
        class="a_btn a_btn_outline_success"
        text="outline-success"
        href="https://github.com/"
      )
      a-link(
        class="a_btn a_btn_outline_info"
        text="outline-info"
        href="https://github.com/"
      )
