aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_UI_GROUP_SORT_ORDER_HEADER_"
  description="_A_UI_GROUP_SORT_ORDER_DESCRIPTION_"
  props="sort-order"
)
  .a_columns.a_columns_count_12
    .a_column.a_column_6.a_columns_count_12_touch
      a-radio(
        v-model="model"
        :data="data"
        :sort-order="undefined"
        key-id="id"
        key-label="label"
        label="Aloha"
      )
      a-radio(
        v-model="model"
        :data="data"
        class="a_mt_3"
        key-id="id"
        key-label="label"
        label="Aloha"
        sort-order="asc"
      )
      a-radio(
        v-model="model"
        :data="data"
        class="a_mt_3"
        key-id="id"
        key-label="label"
        label="Aloha"
        sort-order="desc"
      )
      div model: {{ model }}
