aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_PROGRESS_CIRCLE_GROUP_INDETERMINATE_HEADER_"
  description="_A_PROGRESS_CIRCLE_GROUP_INDETERMINATE_DESCRIPTION_"
  props="indeterminate"
)
  a-progress-circle(
    :value="20"
    :indeterminate="true"
  )
  a-progress-circle(
    class="a_mt_3"
    :value="50"
    :indeterminate="true"
  )
  a-progress-circle(
    class="a_mt_3"
    :value="80"
    :indeterminate="true"
  )
