aloha-page(
  :page-title="pageTitle"
)
  template(
    v-slot:body
  )
    a-translation(
      tag="p"
      html="_PAGE_FILTER_PROPERTY_BY_VALUE_DESCRIPTION_"
    )

    page-filter-import-function(
      function-name="filterPropertyByValue"
    )

    page-filter-import-composition-api(
      function-name="filterPropertyByValue"
    )

    page-filter-arguments(
      function-description="filterPropertyByValue(value, { [mapping={}], [defaultValue=\"\"] })"
      placeholder="_PAGE_FILTER_PROPERTY_BY_VALUE_ARGUMENTS_"
    )

    page-filter-property-by-value-mapping

    page-filter-property-by-value-default-value
