aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_UI_GROUP_ERRORS_HEADER_"
  description="_A_UI_GROUP_ERRORS_DESCRIPTION_"
  :props="['errors']"
)
  a-checkbox(
    v-model="model"
    :data="data"
    errors="Aloha"
    label="Checkbox"
  )
  div model: {{ model }}
