div
  h1 ARadio
  a-radio(
    v-model="model"
    :data="data"
    key-id="id"
    key-label="label"
    label="Test label"
  )
  div model: {{ model }}

  .a_custom_control.a_custom_radio
    input.a_custom_control_input(
      id="checkbox_0"
      type="radio"
      value="0"
    )
    label.a_custom_control_label(
      for="checkbox_0"
    ) Aloha

  .a_custom_control.a_custom_radio
    input.a_custom_control_input(
      id="checkbox_1"
      type="radio"
      value="0"
      :checked="true"
    )
    label.a_custom_control_label(
      for="checkbox_1"
    ) Aloha

  .a_custom_control.a_custom_radio
    input.a_custom_control_input(
      id="checkbox_2"
      type="radio"
      value="0"
      :checked="true"
      :disabled="true"
    )
    label.a_custom_control_label(
      for="checkbox_2"
    ) Aloha

  .a_custom_control.a_custom_radio
    input.a_custom_control_input(
      id="checkbox_3"
      type="radio"
      value="0"
      :disabled="true"
    )
    label.a_custom_control_label(
      for="checkbox_3"
    ) Aloha
