aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_BASIC_USAGE_"
  :props="['text', 'href', 'to']"
)
  a-link(
    text="https://github.com/"
    href="https://github.com/"
  )
  a-link(
    class="a_ml_2"
    text="Aloha"
    :to="{ name: 'PageButton' }"
  )
  a-link(
    class="a_ml_2"
    text="Aloha"
    to="/button"
  )
