aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_DROPDOWN_GROUP_CARET_ICON_HEADER_"
  description="_A_DROPDOWN_GROUP_CARET_ICON_DESCRIPTION_"
  props="caret-icon"
)
  a-dropdown(
    :actions="dropdownActions"
    caret-icon="EjectFill"
  )
  a-dropdown(
    class="a_ml_2"
    :actions="dropdownActions"
    caret-icon="Gear"
  )
