aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_WIZARD_GROUP_KEY_ID_HEADER_"
  description="_A_WIZARD_GROUP_KEY_ID_DESCRIPTION_"
  :props="['key-id']"
)
  a-wizard(
    :steps="wizardSteps"
    key-id="id"
  )
    template(
      v-slot:step1
    )
      a-translation(
        tag="h2"
        text="_A_WIZARD_STEP_1_"
      )
      p {{ text }}

    template(
      v-slot:step2
    )
      a-translation(
        tag="h2"
        text="_A_WIZARD_STEP_2_"
      )
      p {{ text }}

    template(
      v-slot:step3
    )
      a-translation(
        tag="h2"
        text="_A_WIZARD_STEP_3_"
      )
      p {{ text }}

    template(
      v-slot:step4
    )
      a-translation(
        tag="h2"
        text="_A_WIZARD_STEP_4_"
      )
      p {{ text }}