aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_ALERT_GROUP_ICONS_CUSTOM_HEADER_"
  description="_A_ALERT_GROUP_ICONS_CUSTOM_DESCRIPTION_"
  :props="['icon', 'show-icon']"
)
  a-alert(
    html="Alert success"
    :is-visible="true"
    type="success"
    :show-icon="true"
    icon="Boxes"
  )
  a-alert(
    html="Alert info"
    :is-visible="true"
    type="info"
    :show-icon="true"
    icon="EyeFill"
  )
  a-alert(
    html="Alert warning"
    :is-visible="true"
    type="warning"
    :show-icon="true"
    icon="EyeSlash"
  )
  a-alert(
    html="Alert danger"
    :is-visible="true"
    type="danger"
    :show-icon="true"
    icon="House"
  )
  a-alert(
    html="Alert primary"
    :is-visible="true"
    type="primary"
    :show-icon="true"
    icon="Bell"
  )
