aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_BUTTON_GROUP_TITLE_HTML_EXTRA_HEADER_"
  description="_A_BUTTON_GROUP_TITLE_HTML_EXTRA_DESCRIPTION_"
  :props="['is-title-html', 'title', 'extra']"
)
  a-button(
    class="a_btn a_btn_success"
    title="_A_BUTTON_EXAMPLE_BIG_TITLE_{{number}}_"
    text="extra"
    :is-title-html="true"
    :extra="{ number: 2 }"
  )
