aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_ELEMENT_GROUP_STOP_HEADER_"
  description="_A_ELEMENT_GROUP_STOP_DESCRIPTION_"
  props="stop"
)
  div(
    @click="showAlert"
  )
    a-element(
      :stop="true"
      class="a_btn a_btn_primary"
      text="stopPropagation: :stop=\"true\""
      type="button"
    )

  div(
    class="a_mt_4"
    @click="showAlert"
  )
    a-element(
      :stop="false"
      class="a_btn a_btn_primary"
      text="stopPropagation: :stop=\"false\""
      type="button"
    )