aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_PROGRESS_GROUP_CLASS_PROGRESS_BAR_HEADER_"
  description="_A_PROGRESS_GROUP_CLASS_PROGRESS_BAR_DESCRIPTION_"
  props="class-progress-bar"
)
  a-progress(
    :value="50"
    class-progress-bar="a_bg_primary"
  )
  a-progress(
    class="a_mt_4"
    :value="50"
    class-progress-bar="a_bg_secondary"
  )
  a-progress(
    class="a_mt_4"
    :value="50"
    class-progress-bar="a_bg_tertiary"
  )
  a-progress(
    class="a_mt_4"
    :value="50"
    class-progress-bar="a_bg_success"
  )
  a-progress(
    class="a_mt_4"
    :value="50"
    class-progress-bar="a_bg_warning"
  )
  a-progress(
    class="a_mt_4"
    :value="50"
    class-progress-bar="a_bg_info"
  )
  a-progress(
    class="a_mt_4"
    :value="50"
    class-progress-bar="a_bg_danger"
  )
  a-progress(
    class="a_mt_4"
    :value="50"
    class-progress-bar="a_bg_gray_300"
  )
  a-progress(
    class="a_mt_4"
    :value="50"
    class-progress-bar="a_bg_gray_400"
  )
  a-progress(
    class="a_mt_4"
    :value="50"
    class-progress-bar="a_bg_gray_500"
  )
  a-progress(
    class="a_mt_4"
    :value="50"
    class-progress-bar="a_bg_gray_600"
  )
  a-progress(
    class="a_mt_4"
    :value="50"
    class-progress-bar="a_bg_gray_700"
  )
  a-progress(
    class="a_mt_4"
    :value="50"
    class-progress-bar="a_bg_gray_800"
  )
  a-progress(
    class="a_mt_4"
    :value="50"
    class-progress-bar="a_bg_gray_900"
  )
  a-progress(
    class="a_mt_4"
    :value="50"
    class-progress-bar="a_bg_black"
  )
