aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_TABLE_GROUP_COMPLEX_HEADER_"
  description="_A_TABLE_GROUP_COMPLEX_DESCRIPTION_"
)
  div
    div
      a-switch(
        v-model="modelLoading"
      )
    a-table(
      ref="aloha"
      :columns="columns"
      :data="data"
      :is-loading-options="isLoadingOptions"
      label="Example table"
      :row-actions="rowActions"
      :table-actions="tableActions"
      :multiple-actions="multipleActions"
      preview="right"
      :is-quick-search="true"
      :is-action-column-visible="true"
      :is-columns-dnd="true"
      :pagination="{ use: true, limitsPerPage: ['10', '25', '50', '100', '500'] }"
      :rows-footer="rowsFooter"
      :is-loading-table="modelLoading"
      :is-loading-multiple-actions="false"
      :views="views"
      :model-view="modelView"
      :model-is-table-without-scroll-start="true"
      v-model:modelQuickSearch="modelQuickSearch"
      :model-columns-ordering="modelColumnsOrdering"
      :model-columns-visible="modelColumnsVisible"
      @change-columns-ordering="changeColumnsOrdering"
      @toggle-preview="togglePreview"
      @update-view="updateView"
      @update:model-columns-visible="changeModelColumnsVisible"
      @init-table="initTable"
    )
      template(
        v-slot:map="{ rows }"
      )
        pre {{ rows }}

      template(
        v-slot:slot1="vm"
      )
        router-link(
          :to="{ name: 'PageTabs' }"
        ) Tabs

      template(
        v-slot:previewRight="vm"
      )
        pre {{ vm }}

      template(
        v-slot:tableActions
      )
        button.a_btn.a_btn_primary Click me

      template(
        v-slot:footerAloha="{ row, rows }"
      )
        strong {{ rows.length }}


      template(
        v-slot:termin="{ label, labelFiltered }"
      )
        a-icon.a_mr_1(
          icon="Cog"
        )
        span(
          v-if="labelFiltered"
          v-html="labelFiltered"
        )
        span(
          v-else
          v-html="label"
        )

    span modelQuickSearch: {{ modelQuickSearch }}
    div modelFilters:
    pre {{ modelFilters }}
