aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_ALERT_GROUP_CLOSABLE_FROM_OUTSIDE_HEADER_"
  description="_A_ALERT_GROUP_CLOSABLE_FROM_OUTSIDE_DESCRIPTION_"
  :props="['closable', 'remove-alert-on-close']"
)
  a-alert(
    html="Alert success"
    :is-visible="true"
    type="success"
    :closable="true"
  )
  a-alert(
    html="Alert danger"
    :is-visible="true"
    type="danger"
    :closable="true"
    :remove-alert-on-close="true"
  )

