aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_LINK_GROUP_SIZES_HEADER_"
  description="_A_LINK_GROUP_SIZES_DESCRIPTION_"
)
  a-link(
    class="a_btn a_btn_primary a_btn_large"
    text="large"
    href="https://github.com/"
  )
  a-link(
    class="a_btn a_btn_primary a_btn_small a_ml_2"
    text="small"
    href="https://github.com/"
  )
