aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_WIZARD_GROUP_DEMO_HEADER_"
  description="_A_WIZARD_GROUP_DEMO_DESCRIPTION_"
  :props="['steps', 'type']"
)
  .a_columns.a_columns_count_12
    .a_column.a_column_6.a_columns_count_12_touch.a_mb_5
      a-switch(
        v-model="isStepsJustified"
        label="is-steps-justified"
      )
      a-select.a_mt_4(
        v-model="modelType"
        label="_A_WIZARD_LABEL_TYPE_"
        key-id="value"
        key-label="label"
        :data="types"
        :deselectable="false"
        :translate-data="true"
      )
      .a_d_flex.a_mt_4
        a-input(
          v-model="modelStepName"
          label="_A_WIZARD_STEP_NAME_"
          :required="true"
        )
        a-button(
          class="a_btn a_btn_primary a_ml_2"
          :disabled="!modelStepName"
          text="_A_WIZARD_BTN_ADD_STEP_"
          @click="addStep"
        )
      .a_d_flex.a_mt_4
        a-select(
          v-model="modelStepId"
          label="_A_WIZARD_LABEL_STEPS_"
          key-id="id"
          key-label="label"
          :data="wizardSteps"
          :search="true"
        )
        a-button(
          class="a_btn a_btn_primary a_ml_2"
          :disabled="!modelStepId || wizardSteps.length < 2"
          text="_A_WIZARD_BTN_DELETE_STEP_"
          @click="deleteStep"
        )

  a-wizard(
    key-id="id"
    :is-steps-justified="isStepsJustified"
    :steps="wizardSteps"
    :type="modelType"
  )
    template(
      v-slot:step="{ step }"
    )
      h2 {{ step.label }}
      p {{ text }}
