aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_BUTTON_GROUP_OUTLINE_HEADER_"
  description="_A_BUTTON_GROUP_OUTLINE_DESCRIPTION_"
  props="class"
)
  .a_d_flex.a_flex_wrap.gap_1
    a-button(
      class="a_btn a_btn_outline_primary"
      text="outline-primary"
      @click="onAlert('outline-primary')"
    )
    a-button(
      class="a_btn a_btn_outline_secondary"
      text="outline-secondary"
      @click="onAlert('outline-secondary')"
    )
    a-button(
      class="a_btn a_btn_outline_tertiary"
      text="outline-tertiary"
      @click="onAlert('outline-tertiary')"
    )
    a-button(
      class="a_btn a_btn_outline_success"
      text="outline-success"
      @click="onAlert('outline-success')"
    )
    a-button(
      class="a_btn a_btn_outline_info"
      text="outline-info"
      @click="onAlert('outline-info')"
    )
    a-button(
      class="a_btn a_btn_outline_warning"
      text="outline-warning"
      @click="onAlert('outline-warning')"
    )
    a-button(
      class="a_btn a_btn_outline_danger"
      text="outline-danger"
      @click="onAlert('outline-danger')"
    )
    a-button(
      class="a_btn a_btn_outline_dark"
      text="outline-dark"
      @click="onAlert('outline-dark')"
    )
    a-button(
      class="a_btn a_btn_outline_light"
      text="outline-light"
      @click="onAlert('outline-light')"
    )
