aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_SLIDER_GROUP_MIN_MAX_HEADER_"
  description="_A_SLIDER_GROUP_MIN_MAX_DESCRIPTION_"
  :props="['min', 'max']"
)
  a-slider(
    v-model="model1"
    :max="40"
    :min="10"
    label="_A_SLIDER_BASIC_LABEL_"
  )
  .a_mt_2 model1: {{ model1 }}
  a-slider(
    v-model="model2"
    :max="50"
    :min="-10"
    label="_A_SLIDER_BASIC_LABEL_"
  )
  .a_mt_2 model2: {{ model2 }}
  a-slider(
    v-model="model3"
    :max="20"
    :min="40"
    :range="true"
    label="_A_SLIDER_BASIC_LABEL_"
  )
  .a_mt_2 model3: {{ model3 }}

