aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_SLIDER_GROUP_MIN_MAX_STEP_HEADER_"
  description="_A_SLIDER_GROUP_MIN_MAX_STEP_DESCRIPTION_"
  :props="['min', 'max', 'step']"
)
  a-slider(
    v-model="model1"
    :extra="{ max: 40, min: 10, step: 2 }"
    :max="40"
    :min="10"
    :step="2"
    label="_A_SLIDER_BASIC_LABEL_{{max}}_{{min}}_{{step}}_"
  )
  .a_mt_2 model1: {{ model1 }}
  a-slider(
    v-model="model2"
    :extra="{ max: 50, min: -10, step: 10 }"
    :max="50"
    :min="-10"
    :step="10"
    label="_A_SLIDER_BASIC_LABEL_{{max}}_{{min}}_{{step}}_"
  )
  .a_mt_2 model2: {{ model2 }}
  a-slider(
    v-model="model3"
    :extra="{ max: 40, min: 20, step: 4 }"
    :max="40"
    :min="20"
    :range="true"
    :step="4"
    label="_A_SLIDER_RANGE_LABEL_{{max}}_{{min}}_{{step}}_"
  )
  .a_mt_2 model3: {{ model3 }}

