li
  template(
    v-if="data.children && data.children.length"
    key="children"
  )
    button.the_menu__btn_collapse(
      type="button"
      @click="toggle"
    )
      span {{ data.label }}
      a-icon(
        :icon="collapseIcon"
      )
    .the_menu__box_collapse(
      v-show="isOpen"
    )
      the-menu-item.the_menu__box_collapse__li(
        v-for="item in data.children"
        :key="item.id"
        :data="item"
      )
  router-link.the_menu__link(
    v-else
    key="link"
    :to="{ name: data.name, params: data.params }"
  ) {{ data.label }}
