aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_UI_GROUP_CLASS_COLUMNS_HEADER_"
  description="_A_UI_GROUP_CLASS_COLUMNS_DESCRIPTION_"
  :props="['class-columns']"
)
  a-fieldset(
    v-model="model"
    :children="children"
    class-column-default="a_column a_column_4 a_column_8_touch"
    class-columns="a_columns a_columns_count_8 a_columns_gap_y_1 a_columns_gap_x_1"
    label="Fieldset"
  )
  a-fieldset(
    v-model="model"
    :children="children"
    class-columns="a_columns a_columns_count_12 a_columns_gap_y_4"
    class="a_mt_3"
    label="Fieldset"
  )
  div model: {{ model }}
