div
  h1 AModal
  a-button.a_btn.a_btn_primary(
    id="btn_modal"
    type="button"
    text="Open Modal"
    icon="Cog"
    :loading="true"
    @click="openModal"
  )

  a-modal(
    v-if="isModalOpen"
    size="xxl"
    selector-close="#btn_modal"
    :close="closeModal"
  )
    //template(
    //  v-slot:modalBodyPrepend
    //)
    //  button.a_btn.a_btn_secondary(
    //    type="button"
    //    @click="openConfirmLocal"
    //  ) Open confirm