aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_UI_GROUP_LABEL_DESCRIPTION_HEADER_"
  description="_A_UI_GROUP_LABEL_DESCRIPTION_DESCRIPTION_"
  :props="['label-description']"
)
  a-slider(
    v-model="model"
    label="_A_SLIDER_BASIC_LABEL_"
    label-description="Aloha"
  )
