aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_SLIDER_GROUP_DATA_HEADER_"
  description="_A_SLIDER_GROUP_DATA_DESCRIPTION_"
  :props="['data', 'key-id']"
)
  a-slider(
    v-model="model1"
    :data="data"
    key-id="id"
    label="_A_SLIDER_BASIC_LABEL_"
  )
  .a_mt_2 model1: {{ model1 }}
  a-slider(
    v-model="model2"
    :data="data"
    :extra="{ max: 30, min: 10 }"
    :max="30"
    :min="10"
    key-id="id"
    label="_A_SLIDER_BASIC_LABEL_{{max}}_{{min}}_"
  )
  .a_mt_2 model2: {{ model2 }}
  a-slider(
    v-model="model3"
    :data="data"
    :extra="{ max: 30, min: 10 }"
    :max="30"
    :min="10"
    :range="true"
    key-id="id"
    label="_A_SLIDER_RANGE_LABEL_{{max}}_{{min}}_"
  )
  .a_mt_2 model3: {{ model3 }}

