aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_GROUP_BUTTON_DROPDOWN_GROUP_INDEX_FIRST_DROPDOWN_ACTION_HEADER_"
  description="_A_GROUP_BUTTON_DROPDOWN_GROUP_INDEX_FIRST_DROPDOWN_ACTION_DESCRIPTION_"
  :props="['index-first-dropdown-action', 'index-first-dropdown-action-mobile', 'actions.classButton']"
)
  a-group-button-dropdown(
    :actions="actions"
    :index-first-dropdown-action="-1"
    :index-first-dropdown-action-mobile="-1"
  )
  a-group-button-dropdown(
    class="a_mt_3"
    :actions="actions"
    :index-first-dropdown-action="0"
    :index-first-dropdown-action-mobile="0"
  )
  a-group-button-dropdown(
    class="a_mt_3"
    :actions="actions"
    :index-first-dropdown-action="1"
    :index-first-dropdown-action-mobile="1"
  )
  a-group-button-dropdown(
    class="a_mt_3"
    :actions="actions"
    :index-first-dropdown-action="2"
    :index-first-dropdown-action-mobile="2"
  )
  a-group-button-dropdown(
    class="a_mt_3"
    :actions="actions"
    :index-first-dropdown-action="3"
    :index-first-dropdown-action-mobile="3"
  )
