aloha-page(
  :page-title="pageTitle"
)
  template(
    v-slot:body
  )
    a-translation(
      tag="p"
      html="_PAGE_FILTER_EMAIL_DESCRIPTION_"
    )

    page-filter-import-function(
      function-name="filterEmail"
    )

    page-filter-import-composition-api(
      function-name="filterEmail"
    )

    page-filter-arguments(
      :arguments-text="argumentsText"
      function-description="filterEmail(email, { [linkClass] })"
    )

    page-filter-email-example

    page-filter-email-link-class

