aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_CAROUSEL_GROUP_INDICATORS_AUTO_LIMIT_HEADER_"
  description="_A_CAROUSEL_GROUP_INDICATORS_AUTO_LIMIT_DESCRIPTION_"
  props="indicators-auto-limit"
)
  .a_columns.a_columns_count_12
    .a_column.a_column_12_touch.a_column_4
      a-carousel(
        :data="data"
        :indicators-auto-limit="true"
        aria-label="_A_CAROUSEL_COMPONENT_BALLS_ARIA_LABEL_"
        arrows-trigger="hover"
        key-id="id"
      )
        template(
          v-slot:item="{ item }"
        )
          div {{ item.id }}
          img.a_height_auto.a_width_100(
            :src="item.src"
            :alt="item.alt"
          )
