aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_SELECT_GROUP_KEY_DISABLED_HEADER_"
  description="_A_SELECT_GROUP_KEY_DISABLED_DESCRIPTION_"
  props="key-disabled"
)
  .a_columns.a_columns_count_12
    .a_column.a_column_6.a_columns_count_12_touch
      a-select(
        v-model="model"
        :data="data"
        key-id="id"
        key-label="label"
        :key-group="['alohaBR', 'aloha']"
        key-disabled="disabled"
        label="Aloha group"
      )
      div model: {{ model }}
      a-select(
        v-model="model"
        class="a_mt_3"
        :data="data"
        key-id="id"
        key-label="label"
        key-disabled="disabled"
        label="Aloha"
      )
      div model: {{ model }}
