aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_SWITCH_GROUP_TITLE_HEADER_"
  description="_A_SWITCH_GROUP_TITLE_DESCRIPTION_"
  :props="['title', 'is-title-html']"
)
  a-switch(
    v-model="model"
    :is-title-html="true"
    title="Aloha"
  )
  a-switch(
    v-model="model"
    :is-title-html="false"
    class="a_mt_3"
    title="Aloha"
  )
