aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="HoveredColor"
  description="_A_RATE_DESCRIPTION_HOVERED_COLOR_"
  props="hovered-color"
)
  a-rate(
    hovered-color="red"
    text="red"
  )
