aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_SHOW_MORE_GROUP_EXPOSES_HEADER_"
  description="_A_SHOW_MORE_GROUP_EXPOSES_DESCRIPTION_"
  :exposes="['buttonRef', 'containerRef', 'isOpen', 'toggleButton']"
)
  .a_columns.a_columns_count_12
    .a_column.a_column_4.a_column_12_tablet
      .a_btn_group(
        role="group"
      )
        a-button(
          class="a_btn a_btn_outline_primary"
          text="_A_SHOW_MORE_TEXT_TOGGLE_WITH_IS_OPEN_"
          @click="toggleShowWithIsOpen"
        )
        a-button(
          class="a_btn a_btn_outline_primary"
          text="_A_SHOW_MORE_TEXT_TOGGLE_WITH_TOGGLE_BUTTON_"
          @click="toggleShowWithToggleButton"
        )
      a-show-more(
        ref="showMoreRef"
        :html="html"
      )
