aloha-page(
  :page-title="pageTitle"
)
  template(
    v-slot:body
  )
    a-translation(
      tag="p"
      html="_A_DISCLOSURE_COMPONENT_DESCRIPTION_"
    )

    page-disclosure-basic

    page-disclosure-disabled

    page-disclosure-html

    page-disclosure-safe-html

    page-disclosure-not-less

    page-disclosure-btn-class

    page-disclosure-btn-icons

    page-disclosure-btn-title

    page-disclosure-btn-title-html

    page-disclosure-btn-texts

    page-disclosure-open-default

    page-disclosure-slots

    page-disclosure-events

    page-disclosure-exposes

    aloha-table-props(
      :data="dataProps"
    )

    aloha-table-props(
      table-label="Slots"
      :data="dataSlots"
      :columns="['name', 'description']"
    )

    aloha-table-props(
      table-label="Events"
      :data="dataEvents"
      :columns="['name', 'type', 'description']"
    )

    aloha-table-props(
      table-label="Exposes"
      :data="dataExposes"
      :columns="['name', 'type', 'description']"
    )

    aloha-table-translate(
      :data="dataTranslate"
    )
