div
  h1 ATinymce
  h2 Input
  a-tinymce(
    id="input1"
    v-model="model1"
    type="text"
    label="ATinymce 1"
    :required="true"
  )
  div model1: {{ model1 }}
  h2 Input
  a-tinymce(
    id="input2"
    v-model="model2"
    type="text"
    label="ATinymce 2"
    :required="true"
  )
  div model2: {{ model2 }}
