aloha-example(
  :use-actions="false"
  header="_A_BADGE_ROUNDED_STYLES_NAME_"
  description="_A_BADGE_ROUNDED_STYLES_DESCRIPTION_"
)
  table.aloha_table_properties
    thead
      tr
        th(
          scope="col"
        )
          a-translation(
            html="_TXT_CLASS_"
            tag="span"
          )
        th(
          scope="col"
        )
          a-translation(
            html="_TXT_EXAMPLE_"
            tag="span"
          )
    tbody
      tr(
        v-for="badge in badges"
        :key="badge.className"
      )
        td
          code {{ badge.className }}
        td
          a-translation(
            :class="badge.className"
            :html="badge.labelKey"
            tag="span"
          )
