aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_BUTTON_GROUP_TITLE_ARRAY_HEADER_"
  description="_A_BUTTON_GROUP_TITLE_ARRAY_DESCRIPTION_"
  props="title"
)
  a-button(
    class="a_btn a_btn_primary"
    :title="['Aloha', '$(Aloha)']"
    text="Aloha"
  )
