aloha-page(
  :page-title="pageTitle"
)
  template(
    v-slot:body
  )
    a-translation(
      tag="p"
      html="_PAGE_FILTER_SEARCH_HIGHLIGHT_DESCRIPTION_"
    )

    page-filter-import-function(
      function-name="filterSearchHighlight"
    )

    page-filter-import-composition-api(
      function-name="filterSearchHighlight"
    )

    page-filter-arguments(
      :arguments-text="argumentsText"
      function-description="filterSearchHighlight(value, { [searchModel=\"\"], [searchClass=\"a_search_highlight\"] })"
    )

    page-filter-search-highlight-search-model

    page-filter-search-highlight-search-class

    page-filter-test(
      :test="test"
    )
