aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_BUTTON_GROUP_TITLE_HTML_HEADER_"
  description="_A_BUTTON_GROUP_TITLE_HTML_DESCRIPTION_"
)
  a-button(
    class="a_btn a_btn_success"
    title="_A_BUTTON_EXAMPLE_BIG_TITLE_"
    text="placement: top"
    :is-title-html="true"
    title-placement="top"
  )
  a-button(
    class="a_btn a_btn_success a_ml_2 a_mt_2"
    title="_A_BUTTON_EXAMPLE_BIG_TITLE_"
    text="placement: auto"
    :is-title-html="true"
    title-placement="auto"
  )
  a-button(
    class="a_btn a_btn_success a_ml_2 a_mt_2"
    title="_A_BUTTON_EXAMPLE_BIG_TITLE_"
    text="placement: auto-start"
    :is-title-html="true"
    title-placement="auto-start"
  )
  a-button(
    class="a_btn a_btn_success a_ml_2 a_mt_2"
    title="_A_BUTTON_EXAMPLE_BIG_TITLE_"
    text="placement: auto-end"
    :is-title-html="true"
    title-placement="auto-end"
  )
  a-button(
    class="a_btn a_btn_success a_ml_2 a_mt_2"
    title="_A_BUTTON_EXAMPLE_BIG_TITLE_"
    text="placement: top-start"
    :is-title-html="true"
    title-placement="top-start"
  )
  a-button(
    class="a_btn a_btn_success a_ml_2 a_mt_2"
    title="_A_BUTTON_EXAMPLE_BIG_TITLE_"
    text="placement: top-end"
    :is-title-html="true"
    title-placement="top-end"
  )
  a-button(
    class="a_btn a_btn_success a_ml_2 a_mt_2"
    title="_A_BUTTON_EXAMPLE_BIG_TITLE_"
    text="placement: right"
    :is-title-html="true"
    title-placement="right"
  )
  a-button(
    class="a_btn a_btn_success a_ml_2 a_mt_2"
    title="_A_BUTTON_EXAMPLE_BIG_TITLE_"
    text="placement: right-start"
    :is-title-html="true"
    title-placement="right-start"
  )
  a-button(
    class="a_btn a_btn_success a_ml_2 a_mt_2"
    title="_A_BUTTON_EXAMPLE_BIG_TITLE_"
    text="placement: right-end"
    :is-title-html="true"
    title-placement="right-end"
  )
  a-button(
    class="a_btn a_btn_success a_ml_2 a_mt_2"
    title="_A_BUTTON_EXAMPLE_BIG_TITLE_"
    text="placement: bottom"
    :is-title-html="true"
    title-placement="bottom"
  )
  a-button(
    class="a_btn a_btn_success a_ml_2 a_mt_2"
    title="_A_BUTTON_EXAMPLE_BIG_TITLE_"
    text="placement: bottom-start"
    :is-title-html="true"
    title-placement="bottom-start"
  )
  a-button(
    class="a_btn a_btn_success a_ml_2 a_mt_2"
    title="_A_BUTTON_EXAMPLE_BIG_TITLE_"
    text="placement: bottom-end"
    :is-title-html="true"
    title-placement="bottom-end"
  )
  a-button(
    class="a_btn a_btn_success a_ml_2 a_mt_2"
    title="_A_BUTTON_EXAMPLE_BIG_TITLE_"
    text="placement: left"
    :is-title-html="true"
    title-placement="left"
  )
  a-button(
    class="a_btn a_btn_success a_ml_2 a_mt_2"
    title="_A_BUTTON_EXAMPLE_BIG_TITLE_"
    text="placement: left-start"
    :is-title-html="true"
    title-placement="left-start"
  )
  a-button(
    class="a_btn a_btn_success a_ml_2 a_mt_2"
    title="_A_BUTTON_EXAMPLE_BIG_TITLE_"
    text="placement: left-end"
    :is-title-html="true"
    title-placement="left-end"
  )
