aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_DROPDOWN_GROUP_TRIGGERS_HEADER_"
  description="_A_DROPDOWN_GROUP_TRIGGERS_DESCRIPTION_"
  props="triggers"
)
  a-dropdown(
    :actions="dropdownActions"
    button-text="_A_DROPDOWN_BUTTON_TEXT_TRIGGER_CLICK_"
    :triggers="['click']"
  )
  a-dropdown(
    class="a_ml_2"
    :actions="dropdownActions"
    button-text="_A_DROPDOWN_BUTTON_TEXT_TRIGGER_FOCUS_"
    :triggers="['focus']"
  )
  a-dropdown(
    class="a_ml_2"
    :actions="dropdownActions"
    button-text="_A_DROPDOWN_BUTTON_TEXT_TRIGGER_HOVER_"
    :triggers="['hover']"
  )
  a-dropdown(
    class="a_ml_2"
    :actions="dropdownActions"
    button-text="_A_DROPDOWN_BUTTON_TEXT_TRIGGER_CLICK_FOCUS_"
    :triggers="['click', 'focus']"
  )
  a-dropdown(
    class="a_ml_2"
    :actions="dropdownActions"
    button-text="_A_DROPDOWN_BUTTON_TEXT_TRIGGER_CLICK_HOVER_"
    :triggers="['click', 'hover']"
  )
  a-dropdown(
    class="a_ml_2"
    :actions="dropdownActions"
    button-text="_A_DROPDOWN_BUTTON_TEXT_TRIGGER_FOCUS_HOVER_"
    :triggers="['focus', 'hover']"
  )
  a-dropdown(
    class="a_ml_2"
    :actions="dropdownActions"
    button-text="_A_DROPDOWN_BUTTON_TEXT_TRIGGER_CLICK_FOCUS_HOVER_"
    :triggers="['click', 'focus', 'hover']"
  )
