aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_LINK_GROUP_SLOT_DEFAULT_HEADER_"
  description="_A_LINK_GROUP_SLOT_DEFAULT_DESCRIPTION_"
  slots="default"
)
  a-link(
    class="a_btn a_btn_primary"
    href="https://github.com/"
  )
    span (Aloha)
