aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_ONE_CHECKBOX_GROUP_TRUE_VALUE_HEADER_"
  description="_A_ONE_CHECKBOX_GROUP_TRUE_VALUE_DESCRIPTION_"
  :props="['true-value']"
)
  a-one-checkbox(
    v-model="model"
    :true-value="1"
    class="a_mt_3"
    label="Aloha"
  )
  div model: {{ model }}
