aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_BUTTON_GROUP_OUTLINE_HEADER_"
  description="_A_BUTTON_GROUP_OUTLINE_DESCRIPTION_"
)
  a-button(
    class="a_btn a_btn_outline_primary"
    text="outline-primary"
    @click="onAlert('outline-primary')"
  )
  a-button(
    class="a_btn a_btn_outline_secondary a_ml_2"
    text="outline-secondary"
    @click="onAlert('outline-secondary')"
  )
  a-button(
    class="a_btn a_btn_outline_success a_ml_2"
    text="outline-success"
    @click="onAlert('outline-success')"
  )
  a-button(
    class="a_btn a_btn_outline_info a_ml_2"
    text="outline-info"
    @click="onAlert('outline-info')"
  )
  a-button(
    class="a_btn a_btn_outline_warning a_ml_2"
    text="outline-warning"
    @click="onAlert('outline-warning')"
  )
  a-button(
    class="a_btn a_btn_outline_danger a_ml_2"
    text="outline-danger"
    @click="onAlert('outline-danger')"
  )
  a-button(
    class="a_btn a_btn_outline_dark a_ml_2"
    text="outline-dark"
    @click="onAlert('outline-dark')"
  )
  a-button(
    class="a_btn a_btn_outline_light a_ml_2"
    text="outline-light"
    @click="onAlert('outline-light')"
  )
