aloha-page(
  :page-title="pageTitle"
)
  template(
    v-slot:body
  )
    a-translation(
      tag="p"
      html="_PAGE_FILTER_JSON_DESCRIPTION_"
    )

    page-filter-import-function(
      function-name="filterJson"
      type-import="filters"
    )

    page-filter-import-composition-api(
      function-name="filterJson"
    )

    page-filter-arguments(
      :arguments-text="argumentsText"
      function-description="filterJson(value, { [replacer], [space=2] })"
    )

    page-filter-json-example

    page-filter-json-space

    page-filter-json-replacer

    page-filter-json-is-html

    page-filter-json-class

    page-filter-json-tag

    page-filter-test(
      :test="test"
    )
