aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_WIZARD_GROUP_BUTTONS_DISABLED_HEADER_"
  description="_A_WIZARD_GROUP_BUTTONS_DISABLED_DESCRIPTION_"
  :props="['is-back-button-disabled', 'is-back-step-button-disabled', 'is-forward-button-disabled', 'is-forward-step-button-disabled']"
)
  .a_columns.a_columns_count_12
    .a_column.a_column_6.a_columns_count_12_touch.a_mb_5
      a-switch(
        v-model="isBackButtonDisabled"
        label="is-back-button-disabled"
      )
      a-switch(
        v-model="isBackStepButtonDisabled"
        label="is-back-step-button-disabled"
      )
      a-switch(
        v-model="isForwardButtonDisabled"
        label="is-forward-button-disabled"
      )
      a-switch(
        v-model="isForwardStepButtonDisabled"
        label="is-forward-step-button-disabled"
      )
  a-wizard(
    :steps="wizardSteps"
    :is-back-button-disabled="isBackButtonDisabled"
    :is-back-step-button-disabled="isBackStepButtonDisabled"
    :is-forward-button-disabled="isForwardButtonDisabled"
    :is-forward-step-button-disabled="isForwardStepButtonDisabled"
  )
    template(
      v-slot:step1
    )
      a-translation(
        tag="h2"
        text="_A_WIZARD_STEP_1_"
      )
      p {{ text }}

    template(
      v-slot:step2
    )
      a-translation(
        tag="h2"
        text="_A_WIZARD_STEP_2_"
      )
      p {{ text }}

    template(
      v-slot:step3
    )
      a-translation(
        tag="h2"
        text="_A_WIZARD_STEP_3_"
      )
      p {{ text }}

    template(
      v-slot:step4
    )
      a-translation(
        tag="h2"
        text="_A_WIZARD_STEP_4_"
      )
      p {{ text }}