div
  a-page-tab-title(
    title="_PAGE_PLUGIN_ICON_PAGE_TITLE_"
  )
  a-translation.a_mb_3(
    tag="h1"
    safe-html="_PAGE_PLUGIN_ICON_H1_"
  )
  a-translation.a_mb_3(
    tag="div"
    safe-html="_PAGE_PLUGIN_ICON_INTRODUCTION_"
  )
  hr.a_my_5
  a-translation(
    tag="div"
    safe-html="_PAGE_PLUGIN_ICON_CONNECTION_"
  )
  aloha-highlightjs(
    :code="connectionCode"
    language="javascript"
  )
  a-translation.a_mt_3(
    tag="div"
    safe-html="_PAGE_PLUGIN_ICON_CONNECTION_NOTES_"
  )
  hr.a_my_5
  a-translation(
    tag="div"
    safe-html="_PAGE_PLUGIN_ICON_EXAMPLES_"
  )
  aloha-highlightjs(
    :code="useAButtonCode"
    language="html"
  )
  hr.a_my_5
  a-translation(
    tag="div"
    safe-html="_PAGE_PLUGIN_ICON_EXAMPLES_A_ICON_"
  )
  aloha-highlightjs(
    :code="useAIconCode"
    language="html"
  )