.dropdown.d-inline-block
  component(
    :is="buttonTag"
    :id="htmlId"
    ref="dropdown_button"
    :class="[buttonClass, { disabled: disabled }]"
    aria-haspopup="true"
    :aria-expanded="ariaExpanded"
    v-bind="buttonAttributesLocal"
    @click="onToggle"
    @keydown.enter.space.up.down.prevent="onToggle"
  )
    slot(
      name="button"
    )
  component.dropdown-menu(
    :is="listTag"
    v-if="!inBody"
    ref="dropdown_menu"
    :aria-labelledby="htmlId"
    :class="{ show: statusExpanded, [listClass]: listClass }"
    @click="onClose"
  )
    slot(
      name="list"
    )

  pux-popover.dropdown_in_body(
    v-if="inBody"
    :id="idForPopover"
    :popover-element-id="htmlId"
    :is-open="statusExpanded"
    :is-open-render="false"
    :in-body="inBody"
    :placement="placement"
    parent-class=""
    :class-for-tooltip-inner="classForTooltipInner"
    :styles-for-tooltip-inner="stylesForTooltipInner"
    :offset="[0, 0]"
  )
    component(
      :is="listTag"
      ref="dropdown_menu"
      :aria-labelledby="htmlId"
      :class="{ [listClass]: listClass }"
    )
      slot(
        name="list"
      )
