div
  a-page-tab-title(
    title="_PAGE_START_PAGE_TITLE_"
  )
  a-translation.a_mb_3(
    tag="h1"
    safe-html="_PAGE_START_H1_"
  )
  a-translation(
    tag="div"
    safe-html="_PAGE_START_DESCRIPTION_"
  )
  hr.a_my_5
  a-translation(
    tag="div"
    safe-html="_PAGE_START_MAIN_ADVANTAGES_"
  )
  hr.a_my_5
  a-translation(
    tag="div"
    safe-html="_PAGE_START_STRUCTURE_"
  )
  hr.a_my_5
  a-translation(
    tag="div"
    safe-html="_PAGE_START_SUPPORT_"
  )
