aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_PROGRESS_GROUP_STRIPED_HEADER_"
  description="_A_PROGRESS_GROUP_STRIPED_DESCRIPTION_"
  props="striped"
)
  a-progress(
    :value="50"
    class-progress-bar="a_bg_primary"
    :striped="true"
  )
  a-progress(
    class="a_mt_4"
    :value="50"
    class-progress-bar="a_bg_secondary"
    :striped="true"
  )
  a-progress(
    class="a_mt_4"
    :value="50"
    class-progress-bar="a_bg_tertiary"
    :striped="true"
  )
  a-progress(
    class="a_mt_4"
    :value="50"
    class-progress-bar="a_bg_success"
    :striped="true"
  )
  a-progress(
    class="a_mt_4"
    :value="50"
    class-progress-bar="a_bg_warning"
    :striped="true"
  )
  a-progress(
    class="a_mt_4"
    :value="50"
    class-progress-bar="a_bg_info"
    :striped="true"
  )
  a-progress(
    class="a_mt_4"
    :value="50"
    class-progress-bar="a_bg_danger"
    :striped="true"
  )
