aloha-page(
  :page-title="pageTitle"
)
  template(
    v-slot:body
  )
    a-translation(
      tag="p"
      html="_A_LIST_COMPONENT_DESCRIPTION_"
    )

    page-list-class-group



    h2 without children
    a-list(
      :data="items"
      key-label="label"
    )
    h2 with children
    a-list(
      :data="items"
      key-label="label"
      key-children="items"
    )
    h2 with slot
    a-list(
      :data="items"
      key-children="items"
    )
      template(
        v-slot:listItem="vm"
      )
        pre {{ vm.item.label }}

