aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_LINK_COPY_GROUP_TEXT_COPY_HEADER_"
  description="_A_LINK_COPY_GROUP_TEXT_COPY_DESCRIPTION_"
  props="text-copy"
)
  a-link-copy(
    :link-options="{ class: 'a_btn a_btn_secondary', text: 'https://github.com/', href: 'https://github.com/' }"
    text-copy="github"
  )
  a-link-copy(
    class="a_ml_2"
    :link-options="{ class: 'a_btn a_btn_secondary', text: 'https://github.com/', href: 'https://github.com/' }"
    text-copy="Aloha"
  )
