aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_UI_GROUP_READONLY_HEADER_"
  description="_A_UI_GROUP_READONLY_DESCRIPTION_"
  :props="['readonly', 'readonly-default']"
)
  a-select(
    :model-value="model1"
    :data="data"
    :readonly="true"
    key-id="id"
    key-label="label"
    label="Select 1"
    type="select"
  )
  a-select(
    :model-value="model2"
    :data="data"
    :readonly="true"
    class="a_mt_3"
    key-id="id"
    key-label="label"
    label="Select 2"
    type="multiselect"
  )
  a-select(
    :model-value="model3"
    :data="data"
    :readonly="true"
    class="a_mt_3"
    key-id="id"
    key-label="label"
    label="Select 3"
    type="select"
  )
  a-select(
    :model-value="model3"
    :data="data"
    :readonly="true"
    class="a_mt_3"
    key-id="id"
    key-label="label"
    label="Select 4"
    type="multiselect"
  )
  a-select(
    :model-value="model3"
    :data="data"
    :readonly="true"
    class="a_mt_3"
    help-text="Aloha"
    key-id="id"
    key-label="label"
    label="Select 5"
    readonly-default="-"
    type="select"
  )


