aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_UI_GROUP_READONLY_HEADER_"
  description="_A_UI_GROUP_READONLY_DESCRIPTION_"
  :props="['readonly', 'readonly-default', 'readonly-default-from', 'readonly-default-from']"
)
  a-datepicker-range(
    :model-value="model1"
    :readonly="true"
    label="Input 1"
  )
  a-datepicker-range(
    :model-value="model2"
    :readonly="true"
    class="a_mt_3"
    label="Input 2"
    readonly-default-until="-"
  )
  a-datepicker-range(
    :model-value="model3"
    :readonly="true"
    class="a_mt_3"
    label="Input 3"
    readonly-default-from="-"
  )
  a-datepicker-range(
    :model-value="model4"
    :readonly="true"
    class="a_mt_3"
    label="Input 4"
  )
  a-datepicker-range(
    :model-value="model4"
    :readonly="true"
    class="a_mt_3"
    help-text="Aloha"
    label="Input 5"
    readonly-default="-"
  )
