aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_UI_GROUP_COLLAPSE_HEADER_"
  description="_A_UI_GROUP_COLLAPSE_DESCRIPTION_"
  :props="['collapsible', 'is-collapsed']"
  :emits="['toggle-collapse']"
)
  .a_columns.a_columns_count_12
    .a_column.a_column_6.a_columns_count_12_touch
      a-fieldset(
        v-model="model1"
        :children="children1"
        :collapsible="true"
        label="Aloha"
        @toggle-collapse="toggleCollapse"
      )
      div model1: {{ model1 }}
      a-fieldset(
        v-model="model2"
        :children="children2"
        :collapsible="true"
        :is-collapsed="true"
        class="a_mt_3"
        label="Aloha"
        @toggle-collapse="toggleCollapse"
      )
      div model2: {{ model2 }}
