aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_TRANSLATION_GROUP_ARIA_LABEL_HEADER_"
  description="_A_TRANSLATION_GROUP_ARIA_LABEL_DESCRIPTION_"
)
  .a_columns.a_columns_count_12
    .a_column.a_column_4.a_column_12_tablet
      a-translation(
        tag="button"
        class="a_btn a_btn_secondary"
        aria-label="_SHOW_MORE_"
      ) +
