aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_TRANSLATION_GROUP_TEXT_AFTER_HEADER_"
  description="_A_TRANSLATION_GROUP_TEXT_AFTER_DESCRIPTION_"
  props="text-after"
)
  .a_columns.a_columns_count_12
    .a_column.a_column_4.a_column_12_tablet
      a-translation(
        text="_A_TRANSLATION_SHOW_MORE_"
        text-after=" *(Aloha)"
      )
