aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_BUTTON_GROUP_ICONS_HEADER_"
  description="_A_BUTTON_GROUP_ICONS_DESCRIPTION_"
  :props="['icon-left', 'icon-right']"
)
  a-button(
    class="a_btn a_btn_primary"
    icon-left="Dnd"
    @click="onAlert('icon-left')"
  )
  a-button(
    class="a_btn a_btn_primary a_ml_2"
    icon-left="Dnd"
    text="Aloha"
    @click="onAlert('icon-left & text')"
  )
  a-button(
    class="a_btn a_btn_primary a_ml_2"
    icon-right="Dnd"
    text="Aloha"
    @click="onAlert('icon-right & text')"
  )
  a-button(
    class="a_btn a_btn_primary a_ml_2"
    icon-left="Dnd"
    icon-right="Dnd"
    text="Aloha"
    @click="onAlert('icon-left & text & icon-right')"
  )
  a-button(
    class="a_btn a_btn_primary a_ml_2"
    icon-left="Dnd"
    icon-right="Dnd"
    @click="onAlert('icon-left & icon-right')"
  )

