aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_MULTISELECT_ORDERED_GROUP_SELECT_DESELECT_ALL_HEADER_"
  description="_A_MULTISELECT_ORDERED_GROUP_SELECT_DESELECT_ALL_DESCRIPTION_"
  :props="['is-select-all', 'is-deselect-all']"
)
  a-multiselect-ordered(
    v-model="model1"
    :data="data"
    :is-deselect-all="true"
    :is-select-all="true"
    key-id="value"
    key-label="label"
    label="Select 1"
  )
  a-multiselect-ordered(
    v-model="model2"
    :data="data"
    :is-deselect-all="true"
    class="a_mt_3"
    key-id="value"
    key-label="label"
    label="Select 2"
  )
  a-multiselect-ordered(
    v-model="model3"
    :data="data"
    :is-select-all="true"
    class="a_mt_3"
    key-id="value"
    key-label="label"
    label="Select 3"
  )
