aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_ALERT_GROUP_CLOSABLE_FROM_OUTSIDE_HEADER_"
  description="_A_ALERT_GROUP_CLOSABLE_FROM_OUTSIDE_DESCRIPTION_"
)
  div
    a-button.a_btn.a_btn_primary(
      v-if="!isAlertVisible"
      text="_A_ALERT_GROUP_CLOSABLE_FROM_OUTSIDE_SHOW_ALERT_"
      @click="showAlert"
    )
  a-alert(
    html="Alert success"
    :is-visible="isAlertVisible"
    type="success"
    :closable="true"
    :closable-from-outside="true"
    @close="hideAlert"
  )

