aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_ALERT_GROUP_TYPES_HEADER_"
  description="_A_ALERT_GROUP_TYPES_DESCRIPTION_"
)
  a-alert(
    html="Alert success"
    :is-visible="true"
    type="success"
  )
  a-alert(
    html="Alert info"
    :is-visible="true"
    type="info"
  )
  a-alert(
    html="Alert warning"
    :is-visible="true"
    type="warning"
  )
  a-alert(
    html="Alert danger"
    :is-visible="true"
    type="danger"
  )
  a-alert(
    html="Alert primary"
    :is-visible="true"
    type="primary"
  )
  a-alert(
    html="Alert secondary"
    :is-visible="true"
    type="secondary"
  )
  a-alert(
    html="Alert dark"
    :is-visible="true"
    type="dark"
  )
  a-alert(
    html="Alert light"
    :is-visible="true"
    type="light"
  )
