aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_INPUT_CURRENCY_GROUP_MAX_MIN_HEADER_"
  description="_A_INPUT_CURRENCY_GROUP_MAX_MIN_DESCRIPTION_"
  :props="['max', 'min']"
)
  a-input-currency(
    v-model="model"
    :max="20"
    :min="1"
    label="1 - 20"
  )
  a-input-currency(
    v-model="model"
    :max="19.05"
    :min="-10.05"
    class="a_mt_3"
    label="-10.05 - 19.05"
  )
  div model: {{ model }}
