aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_PAGE_DATEPICKER_RANGE_HELP_TEXT_HEADER_"
  description="_PAGE_DATEPICKER_RANGE_HELP_TEXT_DESCRIPTION_"
  :props="['v-model', 'label', 'helpText']"
)
  a-datepicker-range(
    v-model="model"
    label="Aloha"
    help-text="Aloha helpText"
  )
