aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_BUTTON_GROUP_SAFE_HTML_HEADER_"
  description="_A_BUTTON_GROUP_SAFE_HTML_DESCRIPTION_"
  props="safe-html"
)
  .a_d_flex.a_flex_wrap.gap_1
    a-button(
      class="a_btn a_btn_primary"
      safe-html="_A_BUTTON_EXAMPLE_HTML_"
    )
    a-button(
      class="a_btn a_btn_primary"
      safe-html="<span onclick='alert(\"Aloha\")'>Aloha</button>"
    )
