aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_BASIC_USAGE_"
)
  .a_columns.a_columns_count_12
    .a_column.a_column_12_touch.a_column_4
      a-carousel(
        :data="data"
        aria-label="_A_CAROUSEL_COMPONENT_BALLS_ARIA_LABEL_"
        key-id="id"
      )
        template(
          v-slot:item="{ item }"
        )
          img.a_height_auto.a_width_100(
            :src="item.src"
            :alt="item.alt"
          )
    .a_column.a_column_12_touch.a_column_4
      a-carousel(
        :data="dataOne"
        aria-label="_A_CAROUSEL_COMPONENT_BALLS_ARIA_LABEL_"
        key-id="id"
      )
        template(
          v-slot:item="{ item }"
        )
          img.a_height_auto.a_width_100(
            :src="item.src"
            :alt="item.alt"
          )
