aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_UI_GROUP_READONLY_HEADER_"
  description="_A_UI_GROUP_READONLY_DESCRIPTION_"
  :props="['readonly', 'readonly-default']"
)
  a-switch(
    :model-value="model1"
    :readonly="true"
    label="Switch 1"
  )
  a-switch(
    :model-value="model2"
    :readonly="true"
    class="a_mt_3"
    label="Switch 2"
  )
  a-switch(
    :model-value="model3"
    :readonly="true"
    class="a_mt_3"
    label="Switch 3"
  )
  a-switch(
    :model-value="model3"
    :readonly="true"
    class="a_mt_3"
    help-text="Aloha"
    label="Switch 4"
    readonly-default="-"
  )
