aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_TOOLTIP_GROUP_ARROW_PADDING_HEADER_"
  description="_A_TOOLTIP_GROUP_ARROW_PADDING_DESCRIPTION_"
  props="arrow-padding"
)
  a-tooltip(
    class="a_btn a_btn_primary"
    tag="button"
    :arrow-padding="35"
  )
    span Aloha

    template(
      v-slot:title
    )
      div Aloha
