aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_BASIC_USAGE_"
  description="_A_BUTTON_GROUP_BASIC_DESCRIPTION_"
  props="class"
)
  .a_d_flex.a_flex_wrap.gap_1
    a-button(
      class="a_btn a_btn_link"
      text="link"
      @click="onAlert('link')"
    )
    a-button(
      class="a_btn a_btn_primary"
      text="primary"
      @click="onAlert('primary')"
    )
    a-button(
      class="a_btn a_btn_secondary"
      text="secondary"
      @click="onAlert('secondary')"
    )
    a-button(
      class="a_btn a_btn_tertiary"
      text="tertiary"
      @click="onAlert('tertiary')"
    )
    a-button(
      class="a_btn a_btn_success"
      text="success"
      @click="onAlert('success')"
    )
    a-button(
      class="a_btn a_btn_info"
      text="info"
      @click="onAlert('info')"
    )
    a-button(
      class="a_btn a_btn_warning"
      text="warning"
      @click="onAlert('warning')"
    )
    a-button(
      class="a_btn a_btn_danger"
      text="danger"
      @click="onAlert('danger')"
    )
    a-button(
      class="a_btn a_btn_dark"
      text="dark"
      @click="onAlert('dark')"
    )
    a-button(
      class="a_btn a_btn_light"
      text="light"
      @click="onAlert('light')"
    )
