aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_DROPDOWN_GROUP_IN_BODY_HEADER_"
  description="_A_DROPDOWN_GROUP_IN_BODY_DESCRIPTION_"
  props="in-body"
)
  a-dropdown(
    :actions="dropdownActions"
    :in-body="true"
    button-text="_A_DROPDOWN_BUTTON_TEXT_IN_BODY_TRUE_"
  )
  a-dropdown(
    class="a_ml_2"
    :actions="dropdownActions"
    :in-body="false"
    button-text="_A_DROPDOWN_BUTTON_TEXT_IN_BODY_FALSE_"
  )
