aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_LINK_GROUP_TITLE_HTML_HEADER_"
  description="_A_LINK_GROUP_TITLE_HTML_DESCRIPTION_"
  :props="['title', 'is-title-html', 'title-placement']"
)
  a-link(
    class="a_btn a_btn_success a_mt_2"
    title="_A_LINK_EXAMPLE_BIG_TITLE_"
    text="placement: top"
    :is-title-html="true"
    title-placement="top"
    href="https://github.com/"
  )
  a-link(
    class="a_btn a_btn_success a_ml_2 a_mt_2"
    title="_A_LINK_EXAMPLE_BIG_TITLE_"
    text="placement: auto"
    :is-title-html="true"
    title-placement="auto"
    href="https://github.com/"
  )
  a-link(
    class="a_btn a_btn_success a_ml_2 a_mt_2"
    title="_A_LINK_EXAMPLE_BIG_TITLE_"
    text="placement: auto-start"
    :is-title-html="true"
    title-placement="auto-start"
    href="https://github.com/"
  )
  a-link(
    class="a_btn a_btn_success a_ml_2 a_mt_2"
    title="_A_LINK_EXAMPLE_BIG_TITLE_"
    text="placement: auto-end"
    :is-title-html="true"
    title-placement="auto-end"
    href="https://github.com/"
  )
  a-link(
    class="a_btn a_btn_success a_ml_2 a_mt_2"
    title="_A_LINK_EXAMPLE_BIG_TITLE_"
    text="placement: top-start"
    :is-title-html="true"
    title-placement="top-start"
    href="https://github.com/"
  )
  a-link(
    class="a_btn a_btn_success a_ml_2 a_mt_2"
    title="_A_LINK_EXAMPLE_BIG_TITLE_"
    text="placement: top-end"
    :is-title-html="true"
    title-placement="top-end"
    href="https://github.com/"
  )
  a-link(
    class="a_btn a_btn_success a_ml_2 a_mt_2"
    title="_A_LINK_EXAMPLE_BIG_TITLE_"
    text="placement: right"
    :is-title-html="true"
    title-placement="right"
    href="https://github.com/"
  )
  a-link(
    class="a_btn a_btn_success a_ml_2 a_mt_2"
    title="_A_LINK_EXAMPLE_BIG_TITLE_"
    text="placement: right-start"
    :is-title-html="true"
    title-placement="right-start"
    href="https://github.com/"
  )
  a-link(
    class="a_btn a_btn_success a_ml_2 a_mt_2"
    title="_A_LINK_EXAMPLE_BIG_TITLE_"
    text="placement: right-end"
    :is-title-html="true"
    title-placement="right-end"
    href="https://github.com/"
  )
  a-link(
    class="a_btn a_btn_success a_ml_2 a_mt_2"
    title="_A_LINK_EXAMPLE_BIG_TITLE_"
    text="placement: bottom"
    :is-title-html="true"
    title-placement="bottom"
    href="https://github.com/"
  )
  a-link(
    class="a_btn a_btn_success a_ml_2 a_mt_2"
    title="_A_LINK_EXAMPLE_BIG_TITLE_"
    text="placement: bottom-start"
    :is-title-html="true"
    title-placement="bottom-start"
    href="https://github.com/"
  )
  a-link(
    class="a_btn a_btn_success a_ml_2 a_mt_2"
    title="_A_LINK_EXAMPLE_BIG_TITLE_"
    text="placement: bottom-end"
    :is-title-html="true"
    title-placement="bottom-end"
    href="https://github.com/"
  )
  a-link(
    class="a_btn a_btn_success a_ml_2 a_mt_2"
    title="_A_LINK_EXAMPLE_BIG_TITLE_"
    text="placement: left"
    :is-title-html="true"
    title-placement="left"
    href="https://github.com/"
  )
  a-link(
    class="a_btn a_btn_success a_ml_2 a_mt_2"
    title="_A_LINK_EXAMPLE_BIG_TITLE_"
    text="placement: left-start"
    :is-title-html="true"
    title-placement="left-start"
    href="https://github.com/"
  )
  a-link(
    class="a_btn a_btn_success a_ml_2 a_mt_2"
    title="_A_LINK_EXAMPLE_BIG_TITLE_"
    text="placement: left-end"
    :is-title-html="true"
    title-placement="left-end"
    href="https://github.com/"
  )
