.list-group-item.py-2
  .d-flex.justify-content-center.align-items-center
    .text-nowrap {{ index + 1 }}.
    .flex-grow-1.mx-2
      pux-translate(
        tag="span"
        :text="getLabel"
      )
    .btn-group
      button.btn.btn-default(
        title="Nach oben schieben"
        @click="moveUp({ index })"
        :disabled="first || disabled"
        type="button"
      )
        i.glyphicon.glyphicon-chevron-up
        span.sr-only Nach oben schieben
      button.btn.btn-default(
        title="Nach unten schieben"
        @click="moveDown({ index })"
        :disabled="last || disabled"
        type="button"
      )
        i.glyphicon.glyphicon-chevron-down
        span.sr-only Nach unten schieben
      button.btn.btn-primary(
        @click="openConfirmDelete"
        title="Auswahl entfernen"
        :disabled="disabled"
        type="button"
      )
        i.glyphicon.glyphicon-trash
        span.sr-only Auswahl entfernen

  modal(
    v-if="confirmShow"
    :confirm-options="confirmOptions"
  )
