aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_DROPDOWN_GROUP_BUTTON_TEXT_HEADER_"
  description="_A_DROPDOWN_GROUP_BUTTON_TEXT_DESCRIPTION_"
  props="button-text"
)
  a-dropdown(
    :actions="dropdownActions"
    button-text="Aloha"
  )
  a-dropdown(
    class="a_ml_2"
    :actions="dropdownActions"
    button-text="Aloha 123"
  )
  a-dropdown(
    class="a_ml_2"
    :actions="dropdownActions"
    :button-text="{ desktop: 'Aloha desktop', mobile: 'Aloha mobile' }"
  )
