div
  aloha-example(
    :code-js="codeJs"
    header="_PAGE_FUNCTIONS_ARGUMENTS_HEADER_"
    :is-code-visible-default="true"
  )

  ul.a_list_without_styles.a_mt_3
    li.a_mb_2(
      v-for="obj in argumentsText"
      :key="obj.text"
    )
      a-translation(
        :text="obj.value"
        tag="strong"
        text-after=" "
      )
      span (
      template(
        v-for="(type, indexType) in obj.types"
        :key="type"
      )
        strong(
          v-if="indexType !== 0"
        )  |&nbsp;
        type-translate(
          :type="type"
        )
      span ):
      a-translation(
        :safe-html="obj.text"
        tag="span"
        text-before=" "
      )
