component.a_accordion(
  :is="tag"
  :class="classMainLocal"
)
  a-accordion-item(
    v-for="(item, itemIndex) in items"
    :key="itemIndex"
    :item="item"
    :item-index="itemIndex"
    :is-parent-open="true"
    @toggle="toggle"
  )
    template(
      v-slot:button="slotProps"
    )
      slot(
        name="button"
        v-bind="slotProps"
      )

    template(
      v-slot:content="slotProps"
    )
      slot(
        name="content"
        v-bind="slotProps"
      )
