aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_CLOAK_GROUP_SIZES_HEADER_"
  description="_A_CLOAK_GROUP_SIZES_DESCRIPTION_"
  :props="['size']"
)
  a-cloak(
    size="1"
  )
  a-cloak(
    size="2"
  )
  a-cloak(
    size="3"
  )
  a-cloak(
    size="4"
  )
  a-cloak(
    size="5"
  )
  a-cloak(
    size="6"
  )
  a-cloak(
    size="7"
  )

