aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_TOOLTIP_GROUP_OFFSET_SKIDDING_HEADER_"
  description="_A_TOOLTIP_GROUP_OFFSET_SKIDDING_DESCRIPTION_"
  props="offset-skidding"
)
  a-tooltip(
    class="a_btn a_btn_primary"
    tag="button"
    :offset-skidding="30"
  )
    span :offset-skidding="30"

    template(
      v-slot:title
    )
      div :offset-skidding="30"

  a-tooltip(
    class="a_btn a_btn_primary a_ml_3"
    tag="button"
    :offset-skidding="-30"
  )
    span :offset-skidding="-30"

    template(
      v-slot:title
    )
      div :offset-skidding="-30"
