aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_BASIC_USAGE_"
  :props="['model-value', 'disabled']"
)
  a-slider(
    v-model="model"
    label="_A_SLIDER_BASIC_LABEL"
  )
  .a_mt_2 model: {{ model }}

  a-slider(
    v-model="model"
    :disabled="true"
    label="_A_SLIDER_DISABLED_LABEL"
  )
