.pux_datepicker(
  @mousedown="showPopup"
  @touchstart="showPopup"
  :class="{ pux_datepicker_range: range, disabled: disabled }"
  :style="{ width: computedWidth }"
)
  .pux_datepicker__input_wrapper(
    role="application"
  )
    input.pux_datepicker__input(
      :id="id"
      :class="inputClass"
      :name="inputName"
      v-bind="inputAttr"
      ref="input"
      type="text"
      autocomplete="off"
      :disabled="disabled"
      :readonly="!editable"
      :value="text"
      :placeholder="innerPlaceholder"
      aria-haspopup="true"
      :aria-owns="idForCalendar"
      @keydown="handleKeydown"
      @focus="handleFocus"
      @blur="handleBlur"
      @input="handleInput"
      @change="handleChange"
    )
    span.pux_datepicker__input_wrapper__append.pux_datepicker__input_wrapper__clear_wrapper(
      v-if="showClearIcon"
      aria-hidden="true"
      @mousedown.stop="clearDate"
    )
      slot(
        name="clear-icon"
      )
        i.pux_datepicker__input__icon.pux_datepicker__input__clear_icon
    span.pux_datepicker__input_wrapper__append
      slot(
        name="calendar-icon"
      )
        pux-datepicker-icon(
          :type="type"
          aria-hidden="true"
        )
  .pux_datepicker__popup(
    v-show="popupVisible"
    :id="idForCalendar"
    ref="calendar"
    :aria-hidden="ariaHiddenForCalendar"
    :aria-expanded="ariaExpandedForCalendar"
    :style="innerPopupStyle"
    @click.stop.prevent
  )
    slot(
      name="header"
    )
      .pux_datepicker__shortcuts_wrapper(
        v-if="range && innerShortcuts.length"
      )
        a-button.pux_datepicker__shortcuts_wrapper__shortcuts(
          v-for="(range, index) in innerShortcuts"
          :key="index"
          @click="selectRange(range)"
        ) {{ range.text }}
    pux-datepicker-calendar-panel(
      v-if="!range"
      :id="idForPanel"
      ref="calendarPanel"
      v-bind="$attrs"
      :index="-1"
      :type="innerType"
      :date-format="innerDateFormat"
      :value="currentValue"
      :visible="popupVisible"
      :current-language="currentLanguage"
      @select-date="selectDate"
      @select-time="selectTime"
      @close-popup="closePopup"
    )
    .pux_datepicker__range_wrapper(
      v-else
    )
      pux-datepicker-calendar-panel(
        :id="idsForPanelRange[0]"
        ref="calendarPanel"
        style="box-shadow: 1px 0 rgba(0, 0, 0, .1);"
        v-bind="$attrs"
        :index="0"
        :type="innerType"
        :date-format="innerDateFormat"
        :value="currentValue[0]"
        :end-at="currentValue[1]"
        :start-at="null"
        :visible="popupVisible"
        :current-language="currentLanguage"
        @select-date="selectStartDate"
        @select-time="selectStartTime"
        @close-popup="closePopup"
      )
      pux-datepicker-calendar-panel(
        :id="idsForPanelRange[1]"
        ref="calendarPanel2"
        v-bind="$attrs"
        :index="1"
        :type="innerType"
        :date-format="innerDateFormat"
        :value="currentValue[1]"
        :start-at="currentValue[0]"
        :end-at="null"
        :visible="popupVisible"
        :current-language="currentLanguage"
        @select-date="selectEndDate"
        @select-time="selectEndTime"
        @close-popup="closePopup"
      )
    slot(
      name="footer"
      :confirm="confirmDate"
    )
      .pux_datepicker__footer(
        v-if="confirm"
      )
        a-button.pux_datepicker__footer__btn.pux_datepicker__footer__btn_confirm(
          @click="confirmDate"
        ) {{ confirmText }}
  div(
    ref="focusByClose"
    tabindex="-1"
  )
