.a_input(
  :class="{ 'input-group': isClearButtonLocal }"
)
  input.a_input__input.form-control(
    :id="idLocal"
    ref="input"
    :value="modelValue"
    :type="typeForInput"
    :class="inputClassLocal"
    :disabled="disabledLocal"
    :aria-required="ariaRequired"
    :aria-invalid="ariaInvalid"
    :maxlength="maxlengthLocal"
    v-bind="inputAttributesLocal"
    @input="onInput($event)"
  )
  button.a_input__btn(
    v-if="isClearButtonLocal"
    ref="buttonClear"
    :class="clearButtonClassLocal"
    type="button"
    :disabled="disabledClearButton"
    @click.stop.prevent="clearModel"
  )
    a-translation.absolute_all(
      tag="span"
      title="_REMOVE_FIELD_CONTENT_"
      aria-hidden="true"
    )
    a-translation.visually-hidden(
      tag="span"
      text="_REMOVE_FIELD_CONTENT_"
    )
    a-icon.a_input__btn__icon(
      icon="Close"
    )
