mixin slots()
  template(
    v-for="(_, name) in $slots"
    :key="name"
    v-slot:[name]="data"
  )
    slot(
      :name="name"
      v-bind="data || {}"
    )

.no-error(
  :id="getId"
  tabindex="-1"
)
  mode-list(
    v-if="isModeList"
    :model="localModel"
    :options="options"
    :errors="errorsObj"
    :id-prefix="subIdPrefix"
    :change="onChange"
  )
    +slots()

  mode-json(
    v-else-if="isModeJson"
    :model="localModel"
    :options="options"
    :errors="errorsObj"
    :id-prefix="subIdPrefix"
    :change="onChange"
  )
    +slots()

  mode-single(
    v-else-if="isModeSingle"
    :model="localModel"
    :options="options"
    :errors="errorsObj"
    :id-prefix="subIdPrefix"
    :change="onChange"
  )
    +slots()
