svg(
  xmlns="http://www.w3.org/2000/svg"
  :width="width"
  :height="height"
  viewBox="0 0 18 18"
  :aria-labelledby="icon"
  role="presentation"
  v-bind="attributes"
)
  g(
    :fill="iconColor"
    v-html="iconSvg"
  )

