aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_TABLE_GROUP_SORT_START_HEADER_"
  description="_A_TABLE_GROUP_SORT_START_DESCRIPTION_"
)
  div
    a-table(
      :columns="columns"
      :data="data"
      label="_A_TABLE_GROUP_SORT_START_ASC_LABEL_"
      key-id="id"
      model-sort="number"
    )
    a-table(
      :columns="columns"
      :data="data"
      label="_A_TABLE_GROUP_SORT_START_DESC_LABEL_"
      key-id="id"
      model-sort="-number"
    )
