aloha-page(
  :page-title="pageTitle"
)
  template(
    v-slot:body
  )
    a-translation(
      tag="p"
      html="_PAGE_FILTER_CURRENCY_DESCRIPTION_"
    )

    page-filter-import-function(
      function-name="filterCurrency"
    )

    page-filter-import-composition-api(
      function-name="filterCurrency"
    )

    page-filter-arguments(
      :arguments-text="argumentsText"
      function-description="filterCurrency(value, { [suffix=\"€\"], [digits=2], [digitGrouping=true] })"
    )

    page-filter-currency-example

    page-filter-currency-suffix

    page-filter-currency-digits

    page-filter-currency-digit-grouping

    page-filter-test(
      :test="test"
    )
