aloha-example(
  :use-actions="false"
  header="_A_FLOAT_TABLE_NAME_"
  description="_A_FLOAT_TABLE_DESCRIPTION_"
)
  table.aloha_table_properties
    thead
      tr
        th(
          scope="col"
        )
          a-translation(
            html="_TXT_CLASS_"
            tag="span"
          )
        th(
          scope="col"
        )
          a-translation(
            html="_A_TABLE_VALUES_"
            tag="span"
          )
        th(
          scope="col"
        )
          a-translation(
            html="_TXT_EXAMPLE_"
            tag="span"
          )
    tbody
      tr(
        v-for="row in rows"
        :key="row.className"
      )
        td
          code {{ row.className }}
        td
          code {{ row.value }}
        td
          .a_bg_gray_100.a_p_2.a_overflow_hidden
            a-translation(
              :class="['a_bg_gray_300', 'a_p_1', row.className]"
              html="_TXT_EXAMPLE_"
              tag="span"
            )
