aloha-page(
  :page-title="pageTitle"
)
  template(
    v-slot:body
  )
    a-translation(
      tag="p"
      html="_PAGE_FILTER_KEY_VALUE_DESCRIPTION_"
    )

    page-filter-import-function(
      function-name="filterKeyValue"
    )

    page-filter-import-composition-api(
      function-name="filterKeyValue"
    )

    page-filter-arguments(
      :arguments-text="argumentsText"
      function-description="filterKeyValue(value)"
    )

    page-filter-key-value-example
