aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_CLOAK_GROUP_SIZES_HEADER_"
  description="_A_CLOAK_GROUP_SIZES_DESCRIPTION_"
  :props="['size']"
)
  .a_position_relative
    a-loading(
      :is-loading="true"
      size="1"
    )
      ul
        li aloha 1
        li aloha 2
        li aloha 3
  .a_position_relative
    a-loading(
      :is-loading="true"
      size="2"
    )
      ul
        li aloha 1
        li aloha 2
        li aloha 3
  .a_position_relative
    a-loading(
      :is-loading="true"
      size="3"
    )
      ul
        li aloha 1
        li aloha 2
        li aloha 3
  .a_position_relative
    a-loading(
      :is-loading="true"
      size="4"
    )
      ul
        li aloha 1
        li aloha 2
        li aloha 3
  .a_position_relative
    a-loading(
      :is-loading="true"
      size="5"
    )
      ul
        li aloha 1
        li aloha 2
        li aloha 3
  .a_position_relative
    a-loading(
      :is-loading="true"
      size="6"
    )
      ul
        li aloha 1
        li aloha 2
        li aloha 3
  .a_position_relative
    a-loading(
      :is-loading="true"
      size="7"
    )
      ul
        li aloha 1
        li aloha 2
        li aloha 3
