div
  h1 PageScale
  .a_mt_2
    a-input(
      id="input1"
      v-model="model.value"
      type="number"
      label="Value"
    )
  .a_d_flex.a_flex_wrap.a_justify_content_between.a_mt_3
    a-input.a_mb_3(
      id="input2"
      v-model="model.viewBoxWidth"
      type="number"
      label="viewBoxWidth"
    )
    a-input.a_mb_3(
      id="input3"
      v-model="model.viewBoxHeight"
      type="number"
      label="viewBoxHeight"
    )
    a-input.a_mb_3(
      id="input4"
      v-model="model.standWidth"
      type="number"
      label="standWidth"
    )
    a-input.a_mb_3(
      id="input5"
      v-model="model.standHeight"
      type="number"
      label="standHeight"
    )
    a-input.a_mb_3(
      id="input6"
      v-model="model.balanceCircleRadius"
      type="number"
      label="balanceCircleRadius"
    )
    a-input.a_mb_3(
      id="input7"
      v-model="model.balanceTopHeight"
      type="number"
      label="balanceTopHeight"
    )
    a-input.a_mb_3(
      id="input8"
      v-model="model.balanceWidth"
      type="number"
      label="balanceWidth"
    )
    a-input.a_mb_3(
      id="input9"
      v-model="model.bowlRadius"
      type="number"
      label="bowlRadius"
    )
    a-input.a_mb_3(
      id="input10"
      v-model="model.bowlThreadHeight"
      type="number"
      label="bowlThreadHeight"
    )
    a-input.a_mb_3(
      id="input11"
      v-model="model.bowlThreadPaddingX"
      type="number"
      label="bowlThreadPaddingX"
    )
    a-input.a_mb_3(
      id="input12"
      v-model="model.bowlThreadStrokeWidth"
      type="number"
      label="bowlThreadStrokeWidth"
    )
    a-input.a_mb_3(
      id="input13"
      v-model="model.bowlThreadWidth"
      type="number"
      label="bowlThreadWidth"
    )
    a-input.a_mb_3(
      id="input14"
      v-model="model.bowlWidth"
      type="number"
      label="bowlWidth"
    )
    a-input.a_mb_3(
      id="input15"
      v-model="model.pipesWidth"
      type="number"
      label="pipesWidth"
    )
  a-scale(
    :value="model.value"
    :balance-circle-radius="model.balanceCircleRadius"
    :balance-top-height="model.balanceTopHeight"
    :balance-width="model.balanceWidth"
    :bowl-radius="model.bowlRadius"
    :bowl-thread-height="model.bowlThreadHeight"
    :bowl-thread-padding-x="model.bowlThreadPaddingX"
    :bowl-thread-stroke-width="model.bowlThreadStrokeWidth"
    :bowl-thread-width="model.bowlThreadWidth"
    :bowl-width="model.bowlWidth"
    :pipes-width="model.pipesWidth"
    :stand-height="model.standHeight"
    :stand-width="model.standWidth"
    :view-box-width="model.viewBoxWidth"
    :view-box-height="model.viewBoxHeight"
    class-negative="a_color_danger"
    class-positive="a_color_success"
    style="width: 400px; height: auto;"
  )
