aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_UI_GROUP_ERROR_ICON_HEADER_"
  description="_A_UI_GROUP_ERROR_ICON_DESCRIPTION_"
  :props="['errors', 'error-icon']"
)
  a-input-currency(
    v-model="model"
    :error-icon="errorIcon"
    errors="Aloha"
    label="Input currency"
  )
