aloha-example(
  :use-actions="false"
  header="_A_COLORS_TEXT_NAME_"
  description="_A_COLORS_TEXT_DESCRIPTION_"
)
  table.aloha_table_properties
    thead
      tr
        th(
          scope="col"
        )
          a-translation(
            html="_TXT_CLASS_"
            tag="span"
          )
        th(
          scope="col"
        )
          a-translation(
            html="_TXT_COLOR_"
            tag="span"
          )
        th(
          scope="col"
        )
          a-translation(
            html="_TXT_EXAMPLE_"
            tag="span"
          )
    tbody
      tr(
        v-for="color in colors"
        :key="color.className"
      )
        td
          code {{ color.className }}
        td
          code {{ color.color }}
        td
          a-translation(
            :class="['a_p_2', color.className, color.bgClass]"
            html="_TXT_EXAMPLE_"
            tag="span"
          )
