aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_TABLE_FORM_EDIT_HEADER_"
  description="_A_TABLE_FORM_EDIT_DESCRIPTION_"
  :props="['is-addable', 'is-deletable', 'is-deletable-confirm', 'is-editable', 'save-row', 'texts']"
)
  a-checkbox(
    v-model="modelCheckbox"
    :data="dataCheckbox"
    :translate-data="true"
    class="a_mb_4"
    key-id="value"
    key-label="label"
  )
  a-table-form(
    :add-row="addRow"
    :columns="columns"
    :is-addable="modelCheckbox.includes('is-addable')"
    :is-deletable-confirm="modelCheckbox.includes('is-deletable-confirm')"
    :is-deletable="modelCheckbox.includes('is-deletable')"
    :is-editable="modelCheckbox.includes('is-editable')"
    :rows-footer="rowsFooter"
    :rows="rows"
    :save-row="saveRow"
    :texts="texts"
    key-id="id"
    label="_A_TABLE_FORM_EXAMPLE_LABEL_"
    @delete-row="deleteRow"
  )
