aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_LINK_GROUP_TITLE_ARRAY_HEADER_"
  description="_A_LINK_GROUP_TITLE_ARRAY_DESCRIPTION_"
  props="title (as array)"
)
  a-link(
    class="a_btn a_btn_primary"
    :title="['Aloha', '$(Aloha)']"
    text="Aloha"
    href="https://github.com/"
  )
