aloha-page(
  :page-title="pageTitle"
)
  template(
    v-slot:body
  )
    a-translation(
      tag="p"
      html="_A_SHOW_MORE_COMPONENT_DESCRIPTION_"
    )

    a-translation(
      tag="h2"
      html="_A_BASIC_USAGE_"
    )
    .a_columns.a_columns_count_12
      .a_column.a_column_4.a_column_12_tablet
        a-show-more
          div
            ul
              li sfdsf
              li sfdsf
              li sfdsf
              li sfdsf
              li sfdsf
              li sfdsf
              li sfdsf
              li sfdsf
              li sfdsf
              li sfdsf
              li sfdsf
              li sfdsf

    h2 showLess = false
    .a_columns.a_columns_count_12
      .a_column.a_column_4.a_column_12_tablet
        a-show-more(
          :show-less="false"
        )
          div
            ul
              li sfdsf
              li sfdsf
              li sfdsf
              li sfdsf
              li sfdsf
              li sfdsf
              li sfdsf
              li sfdsf
              li sfdsf
              li sfdsf
              li sfdsf
              li sfdsf

    aloha-table-props(
      :data="dataProps"
    )

    aloha-table-props(
      table-label="Slots"
      :data="dataSlots"
      :columns="['name', 'description']"
    )

    aloha-table-props(
      table-label="Events"
      :data="dataEvents"
      :columns="['name', 'type', 'description']"
    )
