pux-cloak(
  v-if="statusListLoading"
  :size="'xs'"
  :msg="''"
)
div(
  v-else
  :class="className"
)
  template(
    v-if="isModel"
  )
    ul(
      v-if="!keyGroupLocal"
    )
      ui-multiselect-read-only-element(
        v-for="(item, index) in model"
        :key="item"
        :current-model="item"
        :options="optionsLocal"
        :current-obj="getCollection[item]"
        :last="index === model.length - 1"
      )
    dl.ml-3.mb-0(
      v-else
    )
      template(
        v-if="collectionOnlyWithModelGrouped.null && collectionOnlyWithModelGrouped.null.length"
      )
        dt.font-weight-normal
        dd.m-0
          ul.mb-0
            ui-multiselect-read-only-element(
              v-for="(item, index) in collectionOnlyWithModelGrouped.null"
              :key="index"
              :options="optionsLocal"
              :current-obj="item"
              :last="index === collectionOnlyWithModelGrouped.null.length - 1"
            )
      template(
        v-for="(group, key) in collectionOnlyWithModelGroupedWithoutKeyNull"
        :key="key"
      )
        dt.font-weight-normal
          span(
            v-if="key !== 'null'"
          ) {{ key }}
        dd.m-0
          ul
            ui-multiselect-read-only-element(
              v-for="(item, index) in group"
              :key="index"
              :options="optionsLocal"
              :current-obj="item"
              :last="index === group.length - 1"
            )

  pux-translate(
    v-else-if="options.showEmpty"
    :text="options.showEmpty"
  )
