div
  h1 Input number
  h2 type "number"
  a-input-number(
    id="input1"
    v-model="model1"
    type="number"
    label="Input langeeeeeeeeeeeeeeeeeee textdffdgfdgdsfdsfdsfdsfdsfdsfsdfsfdd"
    :required="true"
    :step="2"
    errors="not valid"
  )
  div model1: {{ model1 }}
  h2 type "integerNonNegative"
  a-input-number(
    id="input2"
    v-model="model2"
    type="integerNonNegative"
    label="Input 2"
    :required="true"
    :step="2"
    :disabled="true"
  )
  div model2: {{ model2 }}
  h2 type "integerPositive"
  a-input-number(
    id="input3"
    v-model="model3"
    type="integerPositive"
    label="Input 3"
    :required="true"
    :step="3"
  )
  div model3: {{ model3 }}
  h2 type "integer"
  a-input-number(
    id="input4"
    v-model="model4"
    type="integer"
    label="Input 4"
    :required="true"
    :step="4"
  )
  div model4: {{ model4 }}
  input(
    type="number"
  )
  button.a_btn.a_btn_primary() Temp


