div
  h1 PageAccordion
  h2 without alwaysOpen
  a-accordion(
    :data="items"
    key-is-render-body-by-first-open="keyIsRenderBodyByFirstOpen"
    key-id="id"
  )

  h2 with alwaysOpen
  a-accordion(
    ref="aloha"
    :data="items"
    :always-open="true"
    :with-gap="true"
    :indexes-for-open="indexesForOpenDefault"
    key-id="id"
    @toggle="toggleAccordion"
  )
    template(
      v-slot:aloha="{ item }"
    )
      pre {{ item }}

  h2 with Slots
  a-accordion(
    :data="items"
    key-label=""
    key-content=""
  )
    template(
      v-slot:accordionButton="{ item, itemIndex }"
    )
      span {{ item.label }}
        strong index: {{ itemIndex }}

    template(
      v-slot:accordionContent="{ item, itemIndex }"
    )
      strong {{ item.content }}

  h2 readonly
  a-accordion(
    :data="items"
    :readonly="true"
    :is-caret="false"
    class-button="a_color_link"
  )
