nav.a_d_flex.a_justify_content_between.a_align_items_center.a_px_2(
  style="height: 80px;"
)
  //a-menu-button-toggle(
  //  button-toggle-visible="desktop"
  //)

  router-link.a_d_flex.a_align_items_center(
    to="/"
  )
    a-icon(
      aria-label="Startseite"
      icon="Aloha"
      width="50"
      height="50"
    )
    span.h1.mb-0.ms-4.align-bottom ALOHA

  form.a_d_flex
    a-button.a_mr_2(
      :is-switch="true"
      :model-switch="isTranslate"
      icon-left="Translate"
      @click="() => toggleTranslate()"
    )
    a-select(
      v-model="modelLanguage"
      :data="languages"
      key-label="label"
      key-id="value"
      :change="changeLanguage"
    )
