nav.a_d_flex.a_justify_content_between.a_align_items_center.a_px_2(
  style="height: 80px;"
)
  a-link.a_ml_6.a_btn.a_btn_link(
    to="/"
    icon-left="Aloha"
    text="ALOHA"
  )

  form.a_d_flex
    a-button.a_mr_2(
      :is-switch="true"
      :model-switch="isTranslate"
      icon-left="Translate"
      @click="() => toggleTranslate()"
    )
    a-select(
      v-model="modelLanguage"
      :data="languages"
      key-label="label"
      key-id="value"
      :change="changeLanguage"
    )
