aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_UI_GROUP_INLINE_HEADER_"
  description="_A_UI_GROUP_INLINE_DESCRIPTION_"
  props="inline"
)
  .a_columns.a_columns_count_12
    .a_column.a_column_6.a_columns_count_12_touch
      a-checkbox(
        v-model="model"
        :data="data"
        :inline="true"
        key-id="id"
        key-label="label"
        label="Aloha"
      )
      a-checkbox(
        v-model="model"
        :data="data"
        :inline="true"
        :key-group="['alohaBR', 'aloha']"
        key-id="id"
        key-label="label"
        label="Aloha group"
      )
      div model: {{ model }}
