aloha-page(
  :page-title="pageTitle"
)
  template(
    v-slot:body
  )
    a-translation(
      tag="p"
      html="_A_CHECKBOX_COMPONENT_DESCRIPTION_"
    )

    page-checkbox-search

    page-checkbox-key-disabled

    page-checkbox-translate-data

    page-checkbox-two-columns

    page-checkbox-is-button-group

    page-checkbox-collapse

    page-checkbox-data-extra

    a-one-checkbox(
      v-model="model"
      label="aloha one checkbox"
      true-value="aloha"
      :false-value="undefined"
      :required="true"
    )
    div model: {{ model }}
    a-one-checkbox(
      v-model="model1"
      label="aloha one checkbox"
      :is-width-auto="true"
      :false-value="false"
    )
    div model1: {{ model1 }}
