aloha-page(
  :page-title="pageTitle"
)
  template(
    v-slot:body
  )
    a-translation(
      tag="p"
      html="_A_CHECKBOX_COMPONENT_DESCRIPTION_"
    )

    page-checkbox-search

    page-checkbox-key-disabled

    a-one-checkbox(
      v-model="model"
      label="aloha one checkbox"
      true-value="aloha"
      :false-value="undefined"
      :required="true"
    )
    div model: {{ model }}
    a-one-checkbox(
      v-model="model1"
      label="aloha one checkbox"
      :is-width-auto="true"
      :false-value="false"
    )
    div model1: {{ model1 }}
    a-checkbox(
      v-model="modelArr"
      :data="data"
      key-id="id"
      key-label="label"
      label=":is-button-group=true"
      :is-button-group="true"
      :required="true"
      sort-order="desc"
      sort-order-group="asc"
    )
    a-checkbox(
      v-model="modelArr"
      :data="data"
      key-id="id"
      key-label="label"
      label=":is-button-group=true und key-group"
      :is-button-group="true"
      :key-group="['alohaBR', 'aloha']"
      :required="true"
      sort-order="desc"
      sort-order-group="asc"
    )
    a-checkbox(
      v-model="modelArr"
      :data="data"
      key-id="id"
      key-label="label"
      label="group alohaBR -> aloha"
      :is-button-group="false"
      :required="true"
      :key-group="['alohaBR', 'aloha']"
      sort-order="desc"
      sort-order-group="asc"
    )
    a-checkbox(
      v-model="modelArr"
      :data="data"
      key-id="id"
      key-label="label"
      label="group aloha -> alohaBR"
      :is-button-group="false"
      :required="true"
      :key-group="['aloha', 'alohaBR']"
    )
    div modelArr:
      pre {{ modelArr }}

    .a_custom_control.a_custom_checkbox
      input.a_custom_control_input(
        id="checkbox_0"
        type="checkbox"
        value="0"
      )
      label.a_custom_control_label(
        for="checkbox_0"
      ) Aloha

    .a_custom_control.a_custom_checkbox
      input.a_custom_control_input(
        id="checkbox_1"
        type="checkbox"
        value="1"
        :indeterminate="true"
      )
      label.a_custom_control_label(
        for="checkbox_1"
      ) Aloha indeterminate

    .a_custom_control.a_custom_checkbox
      input.a_custom_control_input(
        id="checkbox_2"
        type="checkbox"
        value="1"
        :disabled="true"
      )
      label.a_custom_control_label(
        for="checkbox_2"
      ) Aloha

    .a_custom_control.a_custom_checkbox
      input.a_custom_control_input(
        id="checkbox_3"
        type="checkbox"
        value="1"
        :checked="true"
        :disabled="true"
      )
      label.a_custom_control_label(
        for="checkbox_3"
      ) Aloha

    .a_custom_control.a_custom_checkbox
      input.a_custom_control_input(
        id="checkbox_4"
        type="checkbox"
        value="1"
        :indeterminate="true"
        :disabled="true"
      )
      label.a_custom_control_label(
        for="checkbox_4"
      ) Aloha

    div
      input.a_btn_check(
        id="checkbox_button_1"
        type="checkbox"
        autocomplete="off"
      )
      label.a_btn.a_btn_outline_primary(
        for="checkbox_button_1"
      ) Aloha
